@charset "utf-8";
/* CSS Document */

.l-mvBlock{
	width:100%;
	height:1000px;
	overflow-y:hidden;
	line-height:0;
	margin-top:0;
}
.l-mvBlock p{
	position:relative;
}
.bxslider{
	width:100%;
	height:1000px;
	overflow:hidden;
	line-height:0;
	position:relative;
}
.bx-viewport{
	height:1000px !important;
	overflow-y:hidden !important;
}
.bxslider img.p-backImage{
	width:100%;
	line-height:0;
	position:absolute;
}
.bxslider li:nth-of-type(1){
	width:100%;
	height:1000px;
	background:url(../images/top/bg_mv01_pc.png) center top no-repeat;
	background-size:cover;
}
.bxslider li:nth-of-type(2){
	width:100%;
	height:1000px;
	background:url(../images/top/bg_mv02_pc.png) center top no-repeat;
	background-size:cover;
}
.bxslider li:nth-of-type(3){
	width:100%;
	height:1000px;
	background:url(../images/top/bg_mv03_pc.png) center top no-repeat;
	background-size:cover;
}
.bxslider li:nth-of-type(4){
	width:100%;
	height:1000px;
	background:url(../images/top/bg_mv04_pc.png) center top no-repeat;
	background-size:cover;
}
.bxslider img.p-frontImage{
	line-height:0;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	max-width:2000px;
	width:100%;
}

.l-logoBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-logo{
	max-width:1600px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:75px 0px 100px;
}
.l-logo img{
	max-width:463px;
	width:100%;
}

.l-menuBlock{	
	max-width:2000px;
	width:100%;
	margin:0 auto 0;
	text-align: center;
	
}
.l-menuBlock-left{
	width:50%;
	display:inline-block;
	vertical-align:top;
	line-height:0;
}
.l-menuBlock-right{
	width:50%;
	display:inline-block;
	vertical-align:top;
	line-height:0;
}
.l-menuBlock-left > div{
	width:100%;
}
.l-menuBlock-right > div{
	width:100%;
}
.l-menuBlock-left > div img{
	max-width:1001px;
	width:100%;
	line-height:0;
}
.l-menuBlock-right > div img{
	max-width:1001px;
	width:100%;
	line-height:0;
}


/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	.l-mvBlock{
		width:100%;
		height:700px;
		overflow-y:hidden;
		line-height:0;
		margin-top:0px;
	}
	.l-mvBlock p{
		position:relative;
	}
	.bxslider{
		width:100%;
		height:700px;
		overflow:hidden;
		line-height:0;
		position:relative;
	}
	.bx-viewport{
		height:700px !important;
		overflow-y:hidden !important;
	}
	.bxslider img.p-backImage{
		width:100%;
		line-height:0;
		position:absolute;
	}
	.bxslider li:nth-of-type(1){
		width:100%;
		height:700px;
		background:url(../images/top/bg_mv01_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(2){
		width:100%;
		height:700px;
		background:url(../images/top/bg_mv02_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(3){
		width:100%;
		height:700px;
		background:url(../images/top/bg_mv03_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(4){
		width:100%;
		height:700px;
		background:url(../images/top/bg_mv04_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider img.p-frontImage{
		line-height:0;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		max-width:2000px;
		width:100%;
	}
	
	.l-logoBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-logo{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:52px 0px 70px;
	}
	.l-logo img{
		max-width:324px;
		width:100%;
	}
	
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mvBlock{
		width:100%;
		height:500px;
		overflow-y:hidden;
		line-height:0;
		margin-top:127px;
	}
	.l-mvBlock p{
		position:relative;
	}
	.bxslider{
		width:100%;
		height:500px;
		overflow:hidden;
		line-height:0;
		position:relative;
	}
	.bx-viewport{
		height:500px !important;
		overflow-y:hidden !important;
	}
	.bxslider img.p-backImage{
		width:100%;
		line-height:0;
		position:absolute;
	}
	.bxslider li:nth-of-type(1){
		width:100%;
		height:500px;
		background:url(../images/top/bg_mv01_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(2){
		width:100%;
		height:500px;
		background:url(../images/top/bg_mv02_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(3){
		width:100%;
		height:500px;
		background:url(../images/top/bg_mv03_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(4){
		width:100%;
		height:500px;
		background:url(../images/top/bg_mv04_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider img.p-frontImage{
		line-height:0;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		max-width:2000px;
		width:100%;
	}
	
	.l-logoBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
		display:none;
	}
	.l-logo{
		max-width:1000px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:52px 0px 70px;
	}
	.l-logo img{
		max-width:324px;
		width:100%;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mvBlock{
		width:100%;
		height:400px;
		overflow-y:hidden;
		line-height:0;
		margin-top:100px;
	}
	.l-mvBlock p{
		position:relative;
	}
	.bxslider{
		width:100%;
		height:400px;
		overflow:hidden;
		line-height:0;
		position:relative;
	}
	.bx-viewport{
		height:400px !important;
		overflow-y:hidden !important;
	}
	.bxslider img.p-backImage{
		width:100%;
		line-height:0;
		position:absolute;
	}
	.bxslider li:nth-of-type(1){
		width:100%;
		height:400px;
		background:url(../images/top/bg_mv01_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(2){
		width:100%;
		height:400px;
		background:url(../images/top/bg_mv02_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(3){
		width:100%;
		height:400px;
		background:url(../images/top/bg_mv03_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(4){
		width:100%;
		height:400px;
		background:url(../images/top/bg_mv04_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider img.p-frontImage{
		line-height:0;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		max-width:2000px;
		width:100%;
	}
	
	.l-logoBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-logo{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:36px 0px 49px;
	}
	.l-logo img{
		max-width:227px;
		width:100%;
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		width:100%;
		height:200px;
		overflow-y:hidden;
		line-height:0;
		margin-top:71px;
	}
	.l-mvBlock p{
		position:relative;
	}
	.bxslider{
		width:100%;
		height:200px;
		overflow:hidden;
		line-height:0;
		position:relative;
	}
	.bx-viewport{
		height:200px !important;
		overflow-y:hidden !important;
	}
	.bxslider img.p-backImage{
		width:100%;
		line-height:0;
		position:absolute;
	}
	.bxslider li:nth-of-type(1){
		width:100%;
		height:200px;
		background:url(../images/top/bg_mv01_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(2){
		width:100%;
		height:200px;
		background:url(../images/top/bg_mv02_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(3){
		width:100%;
		height:200px;
		background:url(../images/top/bg_mv03_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider li:nth-of-type(4){
		width:100%;
		height:200px;
		background:url(../images/top/bg_mv04_pc.png) center top no-repeat;
		background-size:cover;
	}
	.bxslider img.p-frontImage{
		line-height:0;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		max-width:2000px;
		width:100%;
	}
	
	.l-logoBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-logo{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:26px 0px 35px;
	}
	.l-logo img{
		max-width:162px;
		width:100%;
	}
	
	.l-menuBlock-left{
		width:100%;
		display:block;
		vertical-align:top;
		line-height:0;
	}
	.l-menuBlock-right{
		width:100%;
		display:block;
		vertical-align:top;
		line-height:0;
	}
	.l-menuBlock-left > div{
		width:100%;
	}
	.l-menuBlock-right > div{
		width:100%;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/