@charset "utf-8";
/* CSS Document */

.l-businessBlock01{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-business01{
	max-width:1600px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:65px 0px 60px;
}
.l-business01 img{
	max-width:463px;
	width:100%;
}

.l-businessBlock02{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-business02{
	max-width:2000px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0 0;
	line-height:0;
}
.l-business02 img{
	max-width:2000px;
	width:100%;
}

.l-businessBlock03{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-business03{
	max-width:860px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:80px 0 70px;
}
.l-business03 p{
	color:#636363;
	line-height:2;
	font-size:30px;
	text-align:left;
}

.l-businessBlock04{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-business04{
	max-width:1860px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0px 10px 0px;
}
.l-business04 p{
	display:inline-block;
	width:50%;
	line-height:0;
	padding-bottom:52px;
}
.l-business04 p:nth-child(odd){
	padding-right:33px;
}
.l-business04 p:nth-child(even){
	padding-left:33px;
}
.l-business04 p img{
	max-width:887px;
	width:100%;
}

.l-businessBlock05{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-business05{
	max-width:1860px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0px 10px 100px;
}
.l-business05 p{
	line-height:2;
	font-size:30px;
	font-weight:bold;
	color:#636363;
}

.l-business06{
	max-width:2000px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0 10px;
	line-height:0;
}
.l-business06 img{
	max-width:1120px;
	width:100%;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	.l-businessBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-business01{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:45px 0px 40px;
	}
	.l-business01 img{
		max-width:324px;
		width:100%;
	}
	
	.l-businessBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-business03{
		max-width:860px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:50px 0 50px;
	}
	.l-business03 p{
		color:#636363;
		line-height:2;
		font-size:24px;
		text-align:left;
	}
	
	.l-business04 p{
		display:inline-block;
		width:50%;
		line-height:0;
		padding-bottom:35px;
	}
	.l-business04 p:nth-child(odd){
		padding-right:2.5%;
	}
	.l-business04 p:nth-child(even){
		padding-left:2.5%;
	}
	.l-business04 p img{
		max-width:887px;
		width:100%;
	}
	
	.l-businessBlock05{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-business05{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0px 10px 70px;
	}
	.l-business05 p{
		line-height:2;
		font-size:24px;
		font-weight:bold;
		color:#636363;
	}
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-businessBlock01{
		width: 100%;
		margin:80px auto 0;
		text-align:center;
		padding:0;
	}
	.l-business01{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:45px 0px 40px;
	}
	.l-business01 img{
		max-width:324px;
		width:100%;
	}
	
	.l-businessBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-business03{
		max-width:860px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:50px 10px 50px;
	}
	.l-business03 p{
		color:#636363;
		line-height:2;
		font-size:24px;
		text-align:left;
	}
	
	.l-business04 p{
		display:inline-block;
		width:50%;
		line-height:0;
		padding-bottom:35px;
	}
	.l-business04 p:nth-child(odd){
		padding-right:2.5%;
	}
	.l-business04 p:nth-child(even){
		padding-left:2.5%;
	}
	.l-business04 p img{
		max-width:887px;
		width:100%;
	}
	
	.l-businessBlock05{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-business05{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0px 10px 70px;
	}
	.l-business05 p{
		line-height:2;
		font-size:24px;
		font-weight:bold;
		color:#636363;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-businessBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-business01{
		max-width:1600px;
		width:100%;
		margin:70px auto 0;
		text-align:center;
		padding:35px 0px 30px;
	}
	.l-business01 img{
		max-width:227px;
		width:100%;
	}
	
	.l-businessBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-business03{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:35px 10px 35px;
	}
	.l-business03 p{
		color:#636363;
		line-height:2;
		font-size:18px;
		text-align:left;
	}
	
	.l-business04 p{
		display:block;
		width:100%;
		line-height:0;
		padding-bottom:25px;
	}
	.l-business04 p:nth-child(odd){
		padding-right:0;
	}
	.l-business04 p:nth-child(even){
		padding-left:0;
	}
	.l-business04 p img{
		max-width:887px;
		width:100%;
	}
	
	.l-businessBlock05{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-business05{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0px 10px 50px;
	}
	.l-business05 p{
		line-height:2;
		font-size:18px;
		font-weight:bold;
		color:#636363;
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-businessBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-business01{
		max-width:1600px;
		width:100%;
		margin:50px auto 0;
		text-align:center;
		padding:35px 0px 30px;
	}
	.l-business01 img{
		max-width:162px;
		width:100%;
	}
	
	.l-businessBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-business03{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:25px 10px 25px;
	}
	.l-business03 p{
		color:#636363;
		line-height:2;
		font-size:14px;
		text-align:left;
	}
	
	.l-business04 p{
		display:block;
		width:100%;
		line-height:0;
		padding-bottom:18px;
	}
	.l-business04 p:nth-child(odd){
		padding-right:0;
	}
	.l-business04 p:nth-child(even){
		padding-left:0;
	}
	.l-business04 p img{
		max-width:480px;
		width:100%;
	}
	
	.l-businessBlock05{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-business05{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0px 10px 0px;
	}
	.l-business05 p{
		line-height:2;
		font-size:14px;
		font-weight:bold;
		color:#636363;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/