@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
/* CSS Document */

/*
カラーコード

オレンジ：#e39b33
グレーライン：#dcdcdc
シャドウ：rgba(58,58,58,.4)
ボタンカラー：#de7928


*/
/*-------------------- ▼共通CSS▼ ------------------------*/
html{
	
}
body{	
	color:#353432;
	/*font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	font-family:"游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";*/
	font-size:16px;
	line-height:1.5;
	font-weight:500;
	letter-spacing:0.05em;
}

.Mincho{
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#000000;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	text-decoration:none;
}
a:hover{
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;
}

.border{
	border:1px solid #000000;	
}

header{
	width:100%;
	margin:0 auto;	
	padding:0;
	/*position:fixed;
	top:0;
	z-index:10000;*/
	/*background-color:rgba(238,133,140,0.95);*/
	background-color:rgba(238,133,140,1);
}
.l-header{
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:center;	
}
.l-header-table{
	max-width:1600px;
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:center;	
}
.l-header-table > .p-title{
	display:none;
}
.l-header-table .l-header-left{
	width:100%;
	text-align:center;	
}
.l-header-table .l-header-left > div{
	display:inline-block;
	width:13.8%;
}
.l-header-table .l-header-left > div.p-long{
	display:inline-block;
	width:17%;
}
.l-header-table .l-header-left > div.p-entry{
	background-color:#e76029;
}
.l-header-table .l-header-left > div a{
	color:#FFFFFF;
	font-size:30px;
	line-height:0;
	font-weight:bold;
	display:inline-block;
	padding:40px 0;
	width:100%;
}
.l-header-table .l-header-right{
	display:none;
}
.l-header-table .l-header-right .l-header-right-table{
	width:100%;
	display:table;
}

.l-header-logo{
	display:table-cell;
	vertical-align:top;
	text-align:center;
	padding-top:10px;
}
.l-header-logo a{
	display:inline-block;
}
.l-header-logo a img{
	max-width:200px;
	width:100%;
}
.l-entry{
	display:table-cell;
	vertical-align:middle;
	text-align:right;
	padding-top:0;
	padding-right:10px;
	
	width:175px;
}
.l-entry a{
	display:inline-block;
}
.l-entry a img{
	max-width:175px;
	width:100%;
}

#wrapper{
	width:100%;
	margin:0 auto;
	padding:0;
	letter-spacing:0.1em;
}

footer{
	width:100%;
	margin:0 auto 0;
	text-align: center;
	
	border-bottom:14px solid #ee858c;
}
footer .l-footer01{
	max-width:1600px;
	width:100%;
	margin:0 auto 0;
	text-align: center;	
	padding:85px 0 16px;
}
footer .l-footer01 .l-footer01-table{
	width:100%;
	margin:0 auto 65px;
	text-align: center;	
	display:table;
}
footer .l-footer01 .l-footer01-table > div{
	display:table-cell;
	text-align: left;
	padding:0 65px;
}
footer .l-footer01 .l-footer01-table > div:first-of-type{
	padding:0 65px 0 0;
}
footer .l-footer01 .l-footer01-table > div:last-of-type{
	padding:0 0 0 65px;
}
footer .l-footer01 .l-footer01-table > div .p-title a{
	font-size:30px;
	color:#ee858c;
	font-weight:bold;
	display:inline-block;
}
footer .l-footer01 .l-footer01-table > div .p-title.p-saiyou a{
	margin-top:100px;
}
footer .l-footer01 .l-footer01-table > div .p-koumoku a{
	font-size:24px;
	color:#808080;
	padding:5px 0;
	display:block;
	position:relative;
	left:35px;
}
footer .l-footer01 .l-footer01-table > div .p-koumoku a:before {
    content: "";
    display: block;
    border-top: solid 1px #808080;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
	left:-35px;
    z-index: 1;
	width:30px;
}
footer .l-footer01 .l-footer01-logo{
	display:none;
}

footer .l-footer01-2{
	display:none;
}

footer .l-footer01 .p-copyright{
	font-size:24px;
	color:#808080;
	text-align:right;
}
footer .l-footer02{
	width:100%;
	margin:0 auto 0;
	text-align: center;	
	border-top:14px solid #ee858c;
	height:140px;
}

#toggle_block {

	display:table-cell;
	vertical-align:middle;
	text-align:left;
	
	width:100px;	
}
#toggle {
	/*float: right;*/
	display: block;
	position: relative;
	padding: 10px 0px 15px;
	font-weight: 700;
	/*font-size: 0.6rem;*/
	vertical-align: top;
	text-align:left;
	cursor:pointer;
	height: 80px;
	width: 80px;
	/*float: right;*/
	/*background-color:rgba(255,255,255,1);*/
	z-index: 12000;
}
/*#toggle-menu {
	position: absolute;
	margin: auto;
	width: 30px;
	top: 25px;
	right: 0;
	left: 0;
	color: #2d99b5;
}*/
#toggle-btn {
	float: left;
	height: 5px;
	/*width: 90px;*/
	display: block;
	position: relative;
	margin-top:15px;
	margin-left:15px;
	/*top:-10px;
	right:0;*/
}
#toggle-btn-icon {
	display: block;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0px;
	width: 43px;
	height: 2px;
	margin: auto;
	background: #979797;
	transition: .2s;
}
#toggle-btn-icon:before, #toggle-btn-icon:after {
	display: block;
	content: "";
	position: absolute;
	top: 20%;
	left: 0;
	width: 43px;
	height: 2px;
	background: #979797;
	transition: .3s;
}
#toggle-btn-icon:before {
	margin-top: -10px;
}
#toggle-btn-icon:after {
	margin-top: 10px;
}
#toggle-btn .close {
	background: transparent !important;
	/*top: 7px;*/
}
#toggle-btn .close:before, #toggle-btn .close:after {
	margin-top: 0;
}
#toggle-btn .close:before {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
#toggle-btn .close:after {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.p-toggle_menu{
	color:#000000;
	position:absolute;
	right:3.5%;	
	width:100px;
}
.p-toggle_menu span{
	position:relative;
	right:-17px;
	top:40px;
	font-size:16px !important;
}

/* --- nav ---*/
#global-nav-area {
	display:none;
	max-width: 1020px;
    width: 100%;
	margin:0 auto;
	position: absolute;
	z-index:10000;
	/*top: 76px;*/
	right:0;
	/*background-color:#000000;*/
	/*background-color:#e4e4e4;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	text-align:left;
	height:auto;
	/*box-shadow:0px 5px 6px -2px #919191;
	-moz-box-shadow:0px 5px 6px -2px #919191;
	-webkit-box-shadow:0px 5px 6px -2px #919191;*/
	/*border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;*/
	overflow:auto !important;
	-webkit-overflow-scrolling: touch;
}
#global-nav {
	padding:0 0;
	border-bottom:2px solid rgba(238,133,140,1);
}

#global-nav > li {
	text-align:left;
	
	/*opacity:0.95;*/
	/*font-size:133%;*/
}
#global-nav > li {
	border-top:2px solid rgba(238,133,140,1);
	display:table;
	width:100%;
	background-color: #FFFFFF;
	/*cursor:pointer;*/
}
#global-nav > li.title.p-sub {
	border-top:1px solid rgba(238,133,140,1);
}
#global-nav > li.p-close {
	border-top:2px solid rgba(238,133,140,1);
	background-color: #FFFFFF;
	
	font-size:125%;
	font-weight:bold;
}
#global-nav > li.p-close p {
	text-align:center !important;
	cursor:pointer;
	padding: 15px 0 15px 0;
	color:rgba(238,133,140,1);
}
#global-nav > li.p-close p img {
	max-width:90px;
	width:100%;
}
#global-nav > li.titleLink {
	padding:22px 0px;
}
#global-nav > li > p {
	width:100%;
	text-align:left;
	display:block;
	/*color:#FFFFFF;*/
}
#global-nav > li.js-underlayer > p {
	padding:15px 3%;
	font-size:125%;
}
/*#global-nav > li > p a:after {
	content: ' ';
	background:url(../../images/common/ico_munu_arrow.svg) no-repeat;
	position: absolute;
	top: 20px;
	right: 3%;
	background-size: 20px 20px;
	width:25px;
	height:25px;
}*/
#global-nav > li > p a {
	color:#222222;
	text-align:left;
	display:block;
	padding:26px 3% 26px 7.5%;
	/*border-bottom:1px solid #797979;*/
	/*border-bottom: 1px solid #FFFFFF;*/
	/*box-shadow: 0 1px 0 rgba(255,255,255,1);*/
	background-color: #FFFFFF;
	position:relative;
}
#global-nav > li > p a.p-entry {
	color:#FFFFFF;
	text-align:left;
	display:block;
	padding:26px 3% 26px 7.5%;
	/*border-bottom:1px solid #797979;*/
	/*border-bottom: 1px solid #FFFFFF;*/
	/*box-shadow: 0 1px 0 rgba(255,255,255,1);*/
	background-color: #1f4069;
	position:relative;
}
#global-nav > li:last-of-type > p a {
	border-bottom: none;
}
#global-nav > li.title > p + p {
	display:table-cell;
	width:30px;
	/*font-size:150%;*/		
	font-size: 183%;
	/* padding-top: 4px; */
	position: relative;
	top: 5px;
	padding: 0 10px;
}
#global-nav > li.js-underlayer > p.p-stair {
	padding:0px;
	/*font-size:87.5%;*/
}
#global-nav > li.title > p {	
	text-align:center;
	
}
#global-nav > li.title > p img {
	max-width:197px;
	width:100%;
}
#global-nav > li.title > p > img {
	display:inline-block;
	margin:25px 3% 22px;
}
#global-nav > li > p a {
	display:block;
	width:100%;
	padding:15px 3% 12px 20px;
	font-size:125%;
	font-weight:bold;
	background:url(../../images/common/ico_menu_sp.png) right 20px center no-repeat transparent;
	background-size: 8px auto;
	text-align:left;
	color:rgba(238,133,140,1);
}
#global-nav > li.koumoku > p a {
	color:#808080;
	font-size:100%;
}
#global-nav > li:nth-last-child(2) a {
	border-bottom:none;
}
#global-nav > li.title > p a.global-nav-co {
	color:#a0a0a0;
	
}
#global-nav > li.title > p a.global-nav-co:after{
	content: '';
	background:url(../../images/common/ico_corporate.png) 5px 5px no-repeat transparent;
	position: absolute;
	width:20px;
	height:20px;
	background-size: 13px 14px;
}

#global-nav > li.title > .p-table{
	display:block;
	width:100%;
	padding:0 0;
}
#global-nav > li.title > .p-table.p-last{
	border-bottom:10px solid #009944;
}
#global-nav > li.title > .p-table > div{
	display:inline-block;
	width:50%;
	border-top:1px solid #009944;
	padding:0px 0;
}
#global-nav > li.title > .p-table > div > p.p-left{
	border-right:1px solid #009944;
}
#global-nav > li.title > .p-table > div > p > a{
	padding:15px 5% 15px 20px;
	display:block;
	background:url(../../images/common/ico_menu_sp.png) right 20px center no-repeat transparent;
	background-size: 8px auto;
	text-align:left;
}
#global-nav > li.title > .p-table > div > p.p-category > a{
	font-size:125%;
	font-weight:bold;
}
#global-nav > li.title > .p-table > div > p > a > span{
	display:block;
	background:url(../../images/common/ico_menu_sp.png) right 20px center no-repeat transparent;
	background-size: 8px auto;
	line-height:0;
}
#global-nav > li.title > .p-table > div > p > a > span img{
	max-width:197px;
	width:100%;
	line-height:0;
}

#global-nav > li ul {
	display: block;
}
#global-nav ul li {
	border-bottom:1px dotted #dddddd;
	background-color: #FFFFFF;
	opacity:1;
	width:100%;
}
#global-nav ul li a {
	display:block;
	padding:15px 3%;
	color:#FFFFFF;
	background:url(../../images/common/ico_arrow2.png) left 3% center no-repeat transparent;
	text-indent:1em;
	background-size: 6px auto;
	position:relative;
	/*font-size:87.5%;*/
}
#global-nav ul li a:after {
	content:">";
	position:absolute;
	right:10px;
}
#global-nav ul li a:hover{
	/*color:#0048A8;*/
}	
#global-nav-area p.p-image {
	padding:0 3%;
	display:block;
	margin:0 auto;
	text-align:center;
}
#global-nav-area p.p-image img {
	max-width:100px;
	width:100%;
}

#global-nav > p {
	padding:0 0 4%;
}
#global-nav > p:last-child {
	padding:0 0 2%;
}

.l-wrapper{
	width:100%;
	margin:0px auto;
}

.l-container{
	width:100%;
	margin:0px auto;
}

/**ページトップ**/
#page-top{
	/*position: relative;*/
	position: fixed;
	/*top: 1px;*/
	right: 5%;
	bottom: 75px;
	z-index:9000;
	height:50px;
	margin:0 auto;
	text-align:right;
	margin-bottom:10px;
}

#page-top a {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:1;
}
#page-top a:hover{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:.7;
}
#page-top a img {
	opacity:1;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover{
	cursor:pointer;
	color:#f00;
}

.l-inner{
	max-width:1620px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner1200{
	max-width:1220px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner980{
	max-width:1000px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner900{
	max-width:920px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner710{
	max-width:730px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner700{
	max-width:720px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}

.pconly{
	display:block !important;
}

.sponly0{
	display:none !important;
}

.sponly{
	display:none !important;	
}

.sponly1{
	display:block !important;
}

.sponly1_5{
	display:none !important;
}

.sponly2{
	display:none !important;
}

.pb20{
	padding-bottom:20px;	
}

.w100{
	width:100%;	
}

.disnone{
	display:none !important;
}

.p-link{
	text-decoration:underline;	
}

/*-------------------- ▲共通CSS▲ ------------------------*/

@media screen and (max-width:1600px){	

	.l-header{
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:center;	
	}
	.l-header-table{
		max-width:1300px;
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:center;	
	}
	.l-header-table > .p-title{
		display:none;
	}
	.l-header-table .l-header-left{
		width:100%;
		text-align:center;	
	}
	.l-header-table .l-header-left > div{
		display:inline-block;
		width:13.8%;
		padding:0;
	}
	.l-header-table .l-header-left > div.p-long{
		display:inline-block;
		width:17%;
	}
	.l-header-table .l-header-left > div.p-entry{
		background-color:#e76029;
	}
	.l-header-table .l-header-left > div a{
		color:#FFFFFF;
		font-size:20px;
		display:inline-block;
		padding:28px 0px;
		line-height:0;
	}
	
	footer{
		width:100%;
		margin:0 auto 0;
		text-align: center;
	}
	footer .l-footer01{
		max-width:1120px;
		width:100%;
		margin:0 auto 0;
		text-align: center;	
		padding:50px 10px 16px;
	}
	footer .l-footer01 .l-footer01-table{
		width:100%;
		margin:0 auto 3%;
		text-align: center;	
		display:table;
	}
	footer .l-footer01 .l-footer01-table > div{
		display:table-cell;
		text-align: left;
		padding:0 20px;
	}
	footer .l-footer01 .l-footer01-table > div:first-of-type{
		padding:0 3% 0 0;
	}
	footer .l-footer01 .l-footer01-table > div:last-of-type{
		padding:0 0 0 3%;
	}
	footer .l-footer01 .l-footer01-table > div .p-title a{
		font-size:22px;
		color:#ee858c;
		font-weight:bold;
		display:inline-block;
	}
	footer .l-footer01 .l-footer01-table > div .p-title.p-saiyou a{
		margin-top:70px;
	}
	footer .l-footer01 .l-footer01-table > div .p-koumoku a{
		font-size:18px;
		color:#808080;
		padding:5px 0;
		display:block;
	}
	footer .l-footer01 .p-copyright{
		font-size:18px;
		color:#808080;
		text-align:right;
	}
	footer .l-footer02{
		width:100%;
		margin:0 auto 0;
		text-align: center;	
		border-top:14px solid #ee858c;
		height:100px;
	}
}

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1000px){	
	
	body{	
		font-size:14px;
	}
	
	header{
		height:auto;
		position:fixed;
		top:0;
		z-index: 12000;
		background-color:rgba(255,255,255,0.95);
	}
	
	
	.l-header{
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:center;	
	}
	.l-header-table{
		display:table;
	}
	.l-header-table > .p-title{
		display:table-cell;
		color:#FFFFFF;
		font-size:24px;
		vertical-align:middle;
		text-align:left;
		padding:0 20px;
	}
	.l-header-table > .p-title a{
		color:rgba(238,133,140,1);
	}
	.l-header-table .l-header-left{
		display:none;
	}
	.l-header-table .l-header-right{
		display:table-cell;
		width:100%;
		text-align:left;
	}
	
	footer .l-footer01{
		max-width:1120px;
		width:100%;
		margin:0 auto 0;
		text-align: center;	
		padding:50px 0px 16px;
	}
	footer .l-footer01 .l-footer01-table{
		display:none;
	}
	footer .l-footer01 .l-footer01-logo{
		display:block;
		padding-bottom:50px;
	}
	footer .l-footer01 .l-footer01-logo img{
		max-width: 200px;
    	width: 100%;
	}

	footer .l-footer01-2{
		display:block;
		width:100%;
		margin:0 auto 0;
		text-align: center;	
		padding:0px 0 16px;
	}
	footer .l-footer01-2 .l-footer01-2-table > div{
		display:inline-block;
		width:33.3%;
		text-align:center;
		vertical-align:middle;
	}
	footer .l-footer01-2 .l-footer01-2-table > div a{
		display:block;
		color: rgba(238,133,140,1);
		padding:15px 0;
		border: 1px solid rgba(238,133,140,1);
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(1) a{
		border-left: none;
		border-bottom: none;
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(2) a{
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(3) a{
		border-right: none;
		border-bottom: none;
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(4) a{
		border-left: none;
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(5) a{
		border-left: none;
		border-right: none;
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(6) a{
		border-right: none;
	}

	footer .l-footer01 .p-copyright {
		text-align: center;
	}
	
	#toggle {
		/*float: right;*/
		display: block;
		position: relative;
		padding: 10px 0px 15px;
		font-weight: 700;
		/*font-size: 0.6rem;*/
		vertical-align: center;
		cursor:pointer;
		height: 80px;
		width: 165px;
		/*float: right;*/
		background-color:rgba(255,255,255,1);
		z-index: 12000;
	}
	#toggle_block .p-sp_entry{
		width:210px;
	}
	#toggle_block .p-sp_entry a{
		padding:0;
	}
	#toggle_block .p-sp_entry:hover{
		cursor:pointer;
	}
	#toggle_block .p-sp_entry img{
		max-width:210px;
		width:100%;
	}
	
	#modal-content {
		background: #FFFFFF;       /* モーダルウィンドウのbackground */
		width: 80%;             /* モーダルウィンドウの幅 */
		z-index: 20000;             /* オーバーレイより高い数値に設定 */
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:block !important;
	}
	
	.sponly1{
		display:block !important;
	}
	
	.sponly1_5{
		display:none !important;
	}
	
	.sponly2{
		display:none !important;
	}
	
}
@media screen and (min-width:769px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){
	body{	
		font-size:14px;
	}
	
	header{
		height:auto;
		position:fixed;
		top:0;
	}
	.l-header-table > .p-title{
		display:table-cell;
		color:#FFFFFF;
		font-size:20px;
		vertical-align:middle;
		text-align:left;
		padding:0 20px;
	}
	.l-header-table > .p-title a{
		color:#FFFFFF;
	}
	
	.l-header-logo a img {
		max-width: 150px;
		width: 100%;
	}
	.l-entry {
		display: table-cell;
		vertical-align:middle;
		text-align: right;
		padding-top: 0;
		padding-right: 10px;
		width: 132px;
	}
	.l-entry a img {
		max-width: 122px;
		width: 100%;
	}
		
	footer .l-footer01 .l-footer01-table{
		display:none;
	}
	footer .l-footer01 .l-footer01-logo{
		display:block;
		padding-bottom:50px;
	}
	footer .l-footer01 .l-footer01-logo img{
		max-width: 150px;
    	width: 100%;
	}
	footer .l-footer01 .p-copyright{
		font-size:16px;
		color:#808080;
		text-align:center;
	}
	
	.l-inner{
		padding:0 3%;
	}
	.l-inner1200{
		padding:0 3%;
	}
	.l-inner980{
		padding:0 3%;
	}
	.l-inner900{
		padding:0 3%;
	}
	.l-inner710{
		padding:0 3%;
	}
	.l-inner700{
		padding:0 3%;
	}
	
	#toggle_block {
		display: table-cell;
		vertical-align:middle;
		text-align: left;
		width: 80px;
	}
	#toggle_block .p-sp_entry{
		width:163px;
	}
	#toggle_block .p-sp_entry:hover{
		cursor:pointer;
	}
	#toggle_block .p-sp_entry img{
		max-width:163px;
		width:100%;
	}	
	/*#toggle {
		display: block;
		position: relative;
		padding: 13px 0;
		font-weight: 700;
		vertical-align: center;
		cursor: pointer;
		height: 70px;
		width: 70px;
		float: right;
	}*/
	#toggle {
		/*float: right;*/
		display: block;
		position: relative;
		padding: 10px 0px 15px;
		font-weight: 700;
		/*font-size: 0.6rem;*/
		vertical-align: center;
		cursor:pointer;
		height: 80px;
		width: 122px;
		/*float: right;*/
		background-color:rgba(255,255,255,1);
		z-index: 12000;
	}	
	#toggle-btn {
		height: 20px;
		display: block;
		position: relative;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0px;
		width: 43px;
		height: 2px;
		margin: auto;
		background: #979797;
		transition: .2s;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 20%;
		right: 0;
		width: 43px;
		height: 2px;
		background: #979797;
		transition: .3s;
	}
	#toggle-btn-icon:before {
	}
	#toggle-btn-icon:after {
		margin-top: 10px;
	}
	
	
	
	#page-top{
		bottom: 7%;
		height:50px;
	}		
	#page-top img {
		width: 56px;
		height:auto;	
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:block !important;
	}
	
	.sponly1{
		display:block !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:none !important;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:768px) and (min-width:320px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	body{	
		font-size:12px;
	}
	
	header{
		height:auto;
		position:fixed;
		top:0;
	}
	.l-header-table > .p-title{
		display:table-cell;
		color:#FFFFFF;
		font-size:14px;
		vertical-align:middle;
		text-align:left;
		padding:0 10px;
	}
	
	.l-header-logo a img {
		max-width: 100px;
		width: 100%;
	}
	.l-entry {
		display: table-cell;
		vertical-align:middle;
		text-align: right;
		padding-top: 0;
		padding-right: 10px;
		width: 100px;
	}
		
	footer .l-footer01 .p-copyright{
		font-size:14px;
		color:#808080;
		text-align:center;
	}
	
	footer .l-footer01 .l-footer01-table{
		display:none;
	}
	
	footer .l-footer01-2{
		display:block;
		width:100%;
		margin:0 auto 0;
		text-align: center;	
		padding:0px 0 16px;
	}
	footer .l-footer01-2 .l-footer01-2-table{
		width:100%;
		margin:0 auto;
		text-align: center;
	}
	footer .l-footer01-2 .l-footer01-2-table > div{
		display:inline-block;
		width:50%;
		text-align:center;
		vertical-align:middle;
	}
	footer .l-footer01-2 .l-footer01-2-table > div a{
		display:block;
		color: rgba(238,133,140,1);
		padding:15px 0;
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(1) a{
		border-left: none;
		border-bottom: none;
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(2) a{
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(3) a{
		border: 1px solid rgba(238,133,140,1);
		border-left: none;
		border-bottom: none;
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(4) a{
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(5) a{
		border: 1px solid rgba(238,133,140,1);
		border-left: none;
	}
	footer .l-footer01-2 .l-footer01-2-table > div:nth-child(6) a{
		border-left: none;
		border-right: none;
	}
	
	#toggle_block {
		display: table-cell;
		vertical-align:middle;
		text-align: left;
		width: 50px;
	}
	#toggle_block .p-sp_entry{
		width:105px;
	}
	#toggle_block .p-sp_entry:hover{
		cursor:pointer;
	}
	#toggle_block .p-sp_entry img{
		max-width:105px;
		width:100%;
	}
	#toggle {
		display: block;
		position: relative;
		padding: 5px 0;
		font-weight: 700;
		vertical-align: center;
		cursor: pointer;
		height: 50px;
		width: 90px;
		float: right;
	}
	#toggle-btn {
		height: 5px;
		display: block;
		position: relative;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0px;
		width: 30px;
		height: 2px;
		margin: auto;
		background: #979797;
		transition: .2s;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 20%;
		right: 0;
		width: 30px;
		height: 2px;
		background: #979797;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -8px;
	}
	#toggle-btn-icon:after {
		margin-top: 8px;
	}
	
	#global-nav > li.title {
		border-top: 2px solid rgba(238,133,140,1);
		display: table;
		width: 100%;
		background-color: #FFFFFF;
		/* cursor: pointer; */
	}	
	#global-nav > li.title.p-sub {
		border-top:1px solid #009944;
	}
	#global-nav > li.p-close p {
		text-align:right;
		cursor:pointer;
		padding: 10px 0 10px 0;
	}
	#global-nav > li.p-close p img {
		max-width:45px;
		width:100%;
	}
	#global-nav > li.title > p {	
		text-align:center;
	}
	#global-nav > li.title > p img {
		max-width:98px;
		width:100%;
	}
	#global-nav > li.title > p > img {
		display:inline-block;
		margin:12px 3% 11px;
	}
	#global-nav > li > p a {
		display:block;
		width:100%;
		padding:12px 10px 11px;
		font-size:13px;
		font-weight:bold;
		background:url(../../images/common/ico_menu_sp.png) right 5px center no-repeat transparent;
		background-size: 7px auto;
		text-align:left;
	}
	#global-nav > li.title > .p-table{
		display:block;
		width:100%;
		padding:0 0;
	}
	#global-nav > li.title > .p-table.p-last{
		border-bottom:7px solid #009944;
	}
	#global-nav > li.title > .p-table > div{
		display:inline-block;
		width:50%;
		border-top:1px solid #009944;
		padding:0px 0;
	}
	#global-nav > li.title > .p-table > div > p.p-left{
		border-right:1px solid #009944;
	}
	#global-nav > li.title > .p-table > div > p > a{
		padding:15px 10px 15px 10px;
		display:block;
		background:url(../../images/common/ico_menu_sp.png) right 5px center no-repeat transparent;
		background-size: 7px auto;
	}
	#global-nav > li.title > .p-table > div > p.p-category > a{
		font-size:13px;
		font-weight:bold;
	}
	#global-nav > li.title > .p-table > div > p > a > span{
		display:block;
		background:url(../../images/common/ico_menu_sp.png) right center no-repeat transparent;
		background-size: 7px auto;
		line-height:0;
	}
	#global-nav > li.title > .p-table > div > p > a > span img{
		max-width:98px;
		width:100%;
		line-height:0;
	}
	
	#wrapper{
		width:100%;
		margin:0 auto;
		padding:0;
		letter-spacing:0.7px;
	}
	
	#page-top{
		bottom: 10%;
		height:25px;
	}	
	#page-top a:hover{
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
		opacity:1;
	}	
	#page-top img {
		width: 40px;
		height:auto;	
	}
	#page-top a img {
		opacity:0.8;
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:none !important;
	}
	
	.sponly1{
		display:none !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:block !important;
	}
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
