@charset "utf-8";
/* CSS Document */

.l-logoBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-logo{
	max-width:1600px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:65px 0px 60px;
	position:relative;
}
.l-logo .p-entry{
	position:absolute;
	top:45px;
	right:0px;
}
.l-logo .p-entry a{
	display:inline-block;
}
.l-logo .p-entry img{
	max-width:251px;
	width:100%;
}
.l-logo .p-logo img{
	max-width:463px;
	width:100%;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	.l-logoBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}	
	.l-logo{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:45px 0px 40px;
		position:relative;
	}
	.l-logo .p-entry{
		position:absolute;
		top:25px;
		right:10px;
	}
	.l-logo .p-entry img{
		max-width:175px;
		width:100%;
	}
	.l-logo .p-logo img{
		max-width:324px;
		width:100%;
	}
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-logoBlock{
		display:none;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/