@charset "utf-8";
/* CSS Document */

.l-mvBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-mv{
	width: 100%;
	/*margin:84px auto 0;*/
	margin:0 auto 0;
	text-align:center;
	padding:0px;
	background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
	background-size:cover;	
	height:1001px;
}
.l-mv div{
	
}
.l-mv div img{
	
}

.l-messageBlock01{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-message01{
	max-width:1600px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:65px 0px 60px;
}
.l-message01 img{
	max-width:463px;
	width:100%;
}

.l-messageBlock02{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-message02{
	max-width:2000px;
	width:100%;
	margin:0 auto;
	text-align:center;
	background:url(../../images/message/bg_message01_pc.jpg) center top no-repeat;
	background-size:contain;
	display:block;
	height:2674px;
	line-height:0;
	/*padding:535px 0% 535px;*/
	position:relative;
}
.l-message02 p{
	display:block;
	line-height:0;
	position:absolute;
	/*top:20%;*/
	top:545px;
	left:0;
	right:0;
}
.l-message02 p img{
	max-width:1335px;
	width:100%;
}

.l-message02 p.p-message{
	display:block;
	font-size: 30px;
    line-height: 2.2;
    width: 100%;
	position:absolute;
	/*top:34%;*/
	top:940px;
	left:0;
	right:0;
}
.l-message02 p.p-message img{
	max-width:1335px;
	width:100%;
	margin-top:0;
}
.p-over2000{
	display:block;	
}
@media screen and (max-width:2000px){
	
	.l-message02{
		max-width:2000px;
		width:100%;
		margin:0 auto;
		text-align:center;
		background:url(../../images/message/bg_message01_pc.jpg) center top no-repeat;
		background-size:cover;
		display:block;
		height:auto;
		line-height:0;
		padding-top:133.28%;
		position:relative;
	}
	.l-message02 p{
		display:block;
		line-height:0;
		position:absolute;
		/*top:20%;*/
		top:20%;
		left:0;
		right:0;
	}
	.l-message02 p img{
		max-width:1200px;
		width:100%;
	}
	
	.l-message02 p.p-message{
		display:block;
		font-size: 30px;
		line-height: 2.2;
		width: 100%;
		position:absolute;
		/*top:34%;*/
		top:34%;
		left:0;
		right:0;
	}
	.l-message02 p.p-message img{
		max-width:1200px;
		width:100%;
		margin-top:0;
	}	
	.p-over2000{
		display:none;	
	}
	
}

.l-menuBlock{	
	max-width:2000px;
	width:100%;
	margin:0 auto 0;
	text-align: center;
	
}
.l-menuBlock-left{
	width:50%;
	display:inline-block;
	vertical-align:top;
	line-height:0;
}
.l-menuBlock-right{
	width:50%;
	display:inline-block;
	vertical-align:top;
	line-height:0;
}
.l-menuBlock-left > div{
	width:100%;
}
.l-menuBlock-right > div{
	width:100%;
}
.l-menuBlock-left > div img{
	max-width:1001px;
	width:100%;
	line-height:0;
}
.l-menuBlock-right > div img{
	max-width:1001px;
	width:100%;
	line-height:0;
}


/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-messageBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-message01{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:50px 0px 50px;
	}
	.l-message01 img{
		max-width:324px;
		width:100%;
	}
	
	.l-message02{
		max-width:2000px;
		width:100%;
		margin:0 auto;
		text-align:center;
		background:url(../../images/message/bg_message01_pc2.jpg) center top no-repeat;
		background-size:cover;
		display:block;
		height:auto;
		line-height:0;
		padding-top:125.28%;
		position:relative;
	}
	.l-message02 p{
		display:block;
		line-height:0;
		position:absolute;
		/*top:20%;*/
		top:20%;
		left:0;
		right:0;
	}
	.l-message02 p img{
		max-width:1200px;
		width:73%;
	}
	
	.l-message02 p.p-message{
		display:block;
		font-size: 30px;
		line-height: 2.2;
		width: 100%;
		position:absolute;
		/*top:34%;*/
		top:34%;
		left:0;
		right:0;
	}
	.l-message02 p.p-message img{
		max-width:1200px;
		width:73%;
		margin-top:0;
	}	
	.p-over2000{
		display:none;	
	}
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:80px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-messageBlock01{
		width: 100%;
		margin:80px auto 0;
		text-align:center;
		padding:0;
	}
	.l-message01{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:45px 0px 40px;
	}
	.l-message01 img{
		max-width:324px;
		width:100%;
	}
	
	.l-messageBlock02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-message02{
		max-width:2000px;
		width:100%;
		margin:0 auto;
		text-align:center;
		background:url(../../images/message/bg_message01_sp.jpg) center top no-repeat;
		background-size:cover;
		display:block;
		height:auto;
		line-height:0;
		padding-top:129.28%;
		position:relative;
	}
	.l-message02 p{
		display:block;
		line-height:0;
		position:absolute;
		/*top:20%;*/
		top:14%;
		left:0;
		right:0;
	}
	.l-message02 p img{
		max-width:1200px;
		width:73%;
	}
	
	.l-message02 p.p-message{
		display:block;
		font-size: 30px;
		line-height: 2.2;
		width: 100%;
		position:absolute;
		/*top:34%;*/
		top:30%;
		left:0;
		right:0;
	}
	.l-message02 p.p-message img{
		max-width:1200px;
		width:78%;
		margin-top:0;
	}	
	.p-over2000{
		display:none;	
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-messageBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-message01{
		max-width:1600px;
		width:100%;
		margin:70px auto 0;
		text-align:center;
		padding:35px 0px 30px;
	}
	.l-message01 img{
		max-width:227px;
		width:100%;
	}
	
	.l-messageBlock02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-message02{
		max-width:2000px;
		width:100%;
		margin:0 auto;
		text-align:center;
		background:url(../../images/message/bg_message01_sp480.jpg) center top no-repeat;
		background-size:cover;
		display:block;
		height:auto;
		line-height:0;
		padding-top:266.28%;
		position:relative;
	}
	.l-message02 p{
		display:block;
		line-height:0;
		position:absolute;
		/*top:20%;*/
		top:8%;
		left:0;
		right:0;
	}
	.l-message02 p img{
		max-width:1200px;
		width:90%;
	}
	
	.l-message02 p.p-message{
		display:block;
		font-size: 30px;
		line-height: 2.2;
		width: 100%;
		position:absolute;
		/*top:34%;*/
		top:18%;
		left:0;
		right:0;
	}
	.l-message02 p.p-message img{
		max-width:1200px;
		width:75%;
		margin-top:0;
	}	
	.p-over2000{
		display:none;	
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-messageBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-message01{
		max-width:1600px;
		width:100%;
		margin:50px auto 0;
		text-align:center;
		padding:35px 0px 30px;
	}
	.l-message01 img{
		max-width:162px;
		width:100%;
	}
	
	.l-menuBlock-left{
		width:100%;
		display:block;
		vertical-align:top;
		line-height:0;
	}
	.l-menuBlock-right{
		width:100%;
		display:block;
		vertical-align:top;
		line-height:0;
	}
	.l-menuBlock-left > div{
		width:100%;
	}
	.l-menuBlock-right > div{
		width:100%;
	}
	
	.l-messageBlock02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-message02{
		max-width:2000px;
		width:100%;
		margin:0 auto;
		text-align:center;
		background:url(../../images/message/bg_message01_sp480.jpg) center top no-repeat;
		background-size:cover;
		display:block;
		height:auto;
		line-height:0;
		padding-top:266.28%;
		position:relative;
	}
	.l-message02 p{
		display:block;
		line-height:0;
		position:absolute;
		/*top:20%;*/
		top:7%;
		left:0;
		right:0;
	}
	.l-message02 p img{
		max-width:1200px;
		width:90%;
	}
	
	.l-message02 p.p-message{
		display:block;
		font-size: 30px;
		line-height: 2.2;
		width: 100%;
		position:absolute;
		/*top:34%;*/
		top:16%;
		left:0;
		right:0;
	}
	.l-message02 p.p-message img{
		max-width:1200px;
		width:80%;
		margin-top:0;
	}	
	.p-over2000{
		display:none;	
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/