@charset "utf-8";
/* CSS Document */

.l-mvBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-mv{
	width: 100%;
	/*margin:84px auto 0;*/
	margin:0 auto 0;
	text-align:center;
	padding:0px;
	background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
	background-size:cover;	
	height:1001px;
}
.l-mv div{
	
}
.l-mv div img{
	
}

.l-recruitBlock01{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-recruit01{
	max-width:1600px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:65px 0px 60px;
}
.l-recruit01 img{
	max-width:463px;
	width:100%;
}

.l-recruitBlock02{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:80px 0px 100px;
	background-color:#fff4d4;
}
.l-recruit02{
	max-width:1440px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0 10px;
}
.l-recruit02 .p-title{
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:15px 0;
	border:5px solid #ee858c;
	color:#646464;
	font-size:36px;
	font-weight:bold;
	letter-spacing:0.2em;
}
.l-recruit02 .p-title2{
	color:#646464;
	line-height:2;
	font-size:36px;
	text-align:center;
	padding:60px 10px 0;
}

.l-recruitBlock03{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:80px 0px 100px;
	background-color:#fdeae4;
}
.l-recruit03{
	max-width:1440px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0 10px;
}
.l-recruit03 .p-title{
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:15px 0;
	border:5px solid #ee858c;
	color:#646464;
	font-size:36px;
	font-weight:bold;
	letter-spacing:0.2em;
}
.l-recruit03 .l-table{
	display:block;
	width:100%;
	text-align:center;
	margin:0 auto;
}
.l-recruit03 .l-table div{
	display:inline-block;
	width:50%;
	text-align:center;
	margin:0 auto;
	vertical-align:top;
}
.l-recruit03 .l-table div p{
	color: #646464;
    line-height: 2;
    font-size: 36px;
    text-align: center;
    padding: 60px 0px 20px;
}
.l-recruit03 .l-table div p.p-button{
	line-height: 2;
    text-align: center;
    padding: 0px 0px 0;
}
.l-recruit03 .l-table div p.p-pink a{
	color:#FFFFFF;
	line-height: 1.7;
    font-size: 36px;
    text-align: center;
    padding: 30px 20px 20px;
	background-color:#ff6699;
	width:541px;
	height:172px;
	display:inline-block;
}

.ChangeElem_Btn_Content{
	width:100%;
	margin:50px auto 0;
	text-align:center;
	border-bottom:5px solid #ee858c;
}
.ChangeElem_Btn_Content .ChangeElem_Btn{
	display:inline-block;
	width:49%;
	margin:0 auto;
	text-align:center;
	color:#FFFFFF;
	background-color:#fad9d4;
	padding:15px 0;
	font-size:36px;
	font-weight:bold;
	appearance:none;
	border:0;
	outline:none;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	font-family:"游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.ChangeElem_Btn_Content .ChangeElem_Btn:hover{
	cursor:pointer;
	opacity:0.7;
}
.ChangeElem_Btn_Content .ChangeElem_Btn:first-of-type{
	margin-right:1%;
}
.ChangeElem_Btn_Content .ChangeElem_Btn:last-of-type{
	margin-left:1%;
}
.ChangeElem_Btn_Content .ChangeElem_Btn.is-active{
	background-color:#ee858c;
}
.ChangeElem_Panel{
	display: none;
}

.l-recruitBlock03 table{
	width: 100%;
	margin:30px auto 0;
	text-align:center;
	table-layout:auto;
}
.l-recruitBlock03 table tbody{
	width: 100%;
}
.l-recruitBlock03 table tbody tr{
	width: 100%;
}
.l-recruitBlock03 table tr th{
	width: 250px;
	text-align:center;
	color:#FFFFFF;
	font-size:26px;
	border:2px solid #ee858c;
	padding:15px;
	font-weight:bold;
}
.l-recruitBlock03 table tr th:first-of-type{
	background-color:#f5b08f;
}
.l-recruitBlock03 table tr th:last-of-type{
	background-color:#ee858c;
	width: calc(100% - 250px);
}
.l-recruitBlock03 table tr td{
	text-align:center;
	color:#646464;
	font-size:26px;
	border:2px solid #ee858c;
	padding:15px;
	background-color:#FFFFFF;
}
.l-recruitBlock03 table tr td:last-of-type{
	text-align:left;
}
.l-recruitBlock03 table tr.row01 td{
	background-color:#FFFFFF;
}
.l-recruitBlock03 table tr.row02 td{
	background-color:#fff9e9;
}

.l-recruitBlock04{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:80px 0px 100px;
	background-color:#fef4ad;
}
.l-recruit04{
	max-width:1440px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0 10px;
}
.l-recruit04 .p-title{
	width:100%;
	margin:0 auto 80px;
	text-align:center;
	padding:15px 0;
	border:5px solid #ee858c;
	color:#646464;
	font-size:36px;
	font-weight:bold;
	letter-spacing:0.2em;
}
.l-recruit04 .p-flow{
	line-height:0;
}
.l-recruit04 .p-flow img{
	max-width:1417px;
	width:100%;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-recruitBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-recruit01{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:45px 0px 40px;
	}
	.l-recruit01 img{
		max-width:324px;
		width:100%;
	}
	
	.l-recruitBlock02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:56px 0px 70px;
		background-color:#fff4d4;
	}
	.l-recruit02{
		max-width:1440px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit02 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:15px 0;
		border:5px solid #ee858c;
		color:#646464;
		font-size:30px;
		font-weight:bold;
	}
	.l-recruit02 .p-title img{
		max-width:1021px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-recruit02 .p-title2{
		color:#646464;
		line-height:2;
		font-size:30px;
		text-align:center;
		padding-top:42px;
	}
	
	.l-recruitBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:56px 0px 70px;
		background-color:#fdeae4;
	}
	.l-recruit03{
		max-width:1440px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit03 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:15px 0;
		border:5px solid #ee858c;
		color:#646464;
		font-size:30px;
		font-weight:bold;
	}
	.l-recruit03 .l-table{
		display:block;
		width:100%;
		text-align:center;
		margin:0 auto;
	}
	.l-recruit03 .l-table div{
		display:inline-block;
		width:50%;
		text-align:center;
		margin:0 auto;
		vertical-align:top;
	}
	.l-recruit03 .l-table div p{
		color: #646464;
		line-height: 2;
		font-size: 36px;
		text-align: center;
		padding: 60px 0px 20px;
	}
	.l-recruit03 .l-table div p.p-entry{
		font-size:22px;
	}
	.l-recruit03 .l-table div p.p-button{
		line-height: 2;
		text-align: center;
		padding: 0px 0px 0;
	}
	.l-recruit03 .l-table div p.p-button img{
		max-width:378px;
		width:100%;
	}
	.l-recruit03 .l-table div p.p-pink a{
		color:#FFFFFF;
		line-height: 1.7;
		font-size: 22px;
		text-align: center;
		padding: 25px 20px 20px;
		background-color:#ff6699;
		width:378px;
		height:120px;
		display:inline-block;
	}
	.ChangeElem_Btn_Content{
		width:100%;
		margin:50px auto 0;
	}
	.ChangeElem_Btn_Content .ChangeElem_Btn{
		padding:15px 0;
		font-size:24px;
	}
	.l-recruitBlock03 table{
		width: 100%;
		margin:20px auto 0;
		text-align:center;
	}
	.l-recruitBlock03 table tr th{
		width: 250px;
		text-align:center;
		color:#FFFFFF;
		font-size:24px;
		border:2px solid #ee858c;
		padding:15px;
	}
	.l-recruitBlock03 table tr th:first-of-type{
		background-color:#f5b08f;
	}
	.l-recruitBlock03 table tr th:last-of-type{
		width: calc(100% - 250px);
		background-color:#ee858c;
	}
	.l-recruitBlock03 table tr td{
		text-align:center;
		color:#646464;
		font-size:24px;
		border:2px solid #ee858c;
		padding:15px;
	}
	.l-recruitBlock03 table tr td:last-of-type{
		text-align:left;
	}
	.l-recruitBlock03 table tr.row01 td{
		background-color:#FFFFFF;
	}
	.l-recruitBlock03 table tr.row02 td{
		background-color:#fff9e9;
	}
	
	.l-recruitBlock04{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:56px 0px 70px;
		background-color:#fef4ad;
	}
	.l-recruit04{
		max-width:1440px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit04 .p-title{
		width:100%;
		margin:0 auto 60px;
		text-align:center;
		padding:15px 0;
		border:5px solid #ee858c;
		color:#646464;
		font-size:30px;
		font-weight:bold;
	}
	.l-recruit04 .p-title img{
		max-width:1021px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-recruit04 .p-title2{
		color:#646464;
		line-height:2;
		font-size:30px;
		text-align:center;
		padding-top:42px;
	}
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:80px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-recruitBlock01{
		width: 100%;
		margin:80px auto 0;
		text-align:center;
		padding:0;
	}
	.l-recruit01{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:45px 0px 40px;
	}
	.l-recruit01 img{
		max-width:324px;
		width:100%;
	}
	
	.l-recruitBlock02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:56px 0px 70px;
		background-color:#fff4d4;
	}
	.l-recruit02{
		max-width:1030px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit02 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:15px 0;
		border:5px solid #ee858c;
		color:#646464;
		font-size:30px;
		font-weight:bold;
	}
	.l-recruit02 .p-title img{
		max-width:1021px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-recruit02 .p-title2{
		color:#646464;
		line-height:2;
		font-size:30px;
		text-align:center;
		padding-top:42px;
	}
	
	.l-recruitBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:56px 0px 70px;
		background-color:#fdeae4;
	}
	.l-recruit03{
		max-width:1030px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit03 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:15px 0;
		border:5px solid #ee858c;
		color:#646464;
		font-size:30px;
		font-weight:bold;
	}
	.l-recruit03 .l-table{
		display:block;
		width:100%;
		text-align:center;
		margin:0 auto;
	}
	.l-recruit03 .l-table div{
		display:inline-block;
		width:50%;
		text-align:center;
		margin:0 auto;
		vertical-align:top;
	}
	.l-recruit03 .l-table div p{
		color: #646464;
		line-height: 2;
		font-size: 36px;
		text-align: center;
		padding: 60px 0px 20px;
	}
	.l-recruit03 .l-table div p.p-entry{
		font-size:22px;
	}
	.l-recruit03 .l-table div p.p-button{
		line-height: 2;
		text-align: center;
		padding: 0px 0px 0;
	}
	.l-recruit03 .l-table div p.p-button img{
		max-width:270px;
		width:100%;
	}
	.l-recruit03 .l-table div p.p-pink a{
		color:#FFFFFF;
		line-height: 1.7;
		font-size: 18px;
		text-align: center;
		padding: 15px 20px 20px;
		background-color:#ff6699;
		width:270px;
		height:86px;
		display:inline-block;
	}
	.ChangeElem_Btn_Content{
		width:100%;
		margin:40px auto 0;
	}
	.ChangeElem_Btn_Content .ChangeElem_Btn{
		padding:15px 0;
		font-size:20px;
	}
	.l-recruitBlock03 table{
		width: 100%;
		margin:20px auto 0;
		text-align:center;
	}
	.l-recruitBlock03 table tr th{
		width: 200px;
		text-align:center;
		color:#FFFFFF;
		font-size:20px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-recruitBlock03 table tr th:first-of-type{
		background-color:#f5b08f;
	}
	.l-recruitBlock03 table tr th:last-of-type{
		width: calc(100% - 200px);
		background-color:#ee858c;
	}
	.l-recruitBlock03 table tr td{
		text-align:center;
		color:#646464;
		font-size:20px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-recruitBlock03 table tr td:last-of-type{
		text-align:left;
	}
	.l-recruitBlock03 table tr.row01 td{
		background-color:#FFFFFF;
	}
	.l-recruitBlock03 table tr.row02 td{
		background-color:#fff9e9;
	}
	
	.l-recruitBlock04{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:56px 0px 70px;
		background-color:#fef4ad;
	}
	.l-recruit04{
		max-width:1030px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit04 .p-title{
		width:100%;
		margin:0 auto 50px;
		text-align:center;
		padding:15px 0;
		border:5px solid #ee858c;
		color:#646464;
		font-size:30px;
		font-weight:bold;
	}
	.l-recruit04 .p-title img{
		max-width:1021px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-recruit04 .p-title2{
		color:#646464;
		line-height:2;
		font-size:30px;
		text-align:center;
		padding-top:42px;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-recruitBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-recruit01{
		max-width:1600px;
		width:100%;
		margin:70px auto 0;
		text-align:center;
		padding:35px 0px 30px;
	}
	.l-recruit01 img{
		max-width:227px;
		width:100%;
	}
	
	.l-recruitBlock02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:40px 0px 50px;
		background-color:#fff4d4;
	}
	.l-recruit02{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit02 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:15px 0;
		border:4px solid #ee858c;
		color:#646464;
		font-size:22px;
		font-weight:bold;
	}
	.l-recruit02 .p-title img{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-recruit02 .p-title2{
		color:#646464;
		line-height:2;
		font-size:22px;
		text-align:center;
		padding-top:30px;
	}
	
	.l-recruitBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:40px 0px 50px;
		background-color:#fdeae4;
	}
	.l-recruit03{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit03 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:15px 0;
		border:4px solid #ee858c;
		color:#646464;
		font-size:22px;
		font-weight:bold;
	}
	.l-recruit03 .l-table{
		display:block;
		width:100%;
		text-align:center;
		margin:0 auto;
	}
	.l-recruit03 .l-table div{
		display:block;
		width:100%;
		text-align:center;
		margin:0 auto;
		vertical-align:top;
	}
	.l-recruit03 .l-table div p{
		color: #646464;
		line-height: 2;
		font-size: 36px;
		text-align: center;
		padding: 40px 0px 20px;
	}
	.l-recruit03 .l-table div:last-child p{
		color: #646464;
		line-height: 2;
		font-size: 36px;
		text-align: center;
		padding: 20px 0px 20px;
	}
	.l-recruit03 .l-table div p.p-entry{
		font-size:22px;
	}
	.l-recruit03 .l-table div p.p-button{
		line-height: 2;
		text-align: center;
		padding: 0px 0px 0;
	}
	.l-recruit03 .l-table div p.p-button img{
		max-width:270px;
		width:100%;
	}
	.l-recruit03 .l-table div p.p-pink a{
		color:#FFFFFF;
		line-height: 1.7;
		font-size: 18px;
		text-align: center;
		padding: 15px 20px 20px;
		background-color:#ff6699;
		width:270px;
		height:86px;
		display:inline-block;
	}
	.ChangeElem_Btn_Content{
		width:100%;
		margin:40px auto 0;
	}
	.ChangeElem_Btn_Content .ChangeElem_Btn{
		padding:15px 0;
		font-size:18px;
	}
	.l-recruitBlock03 table{
		width: 100%;
		margin:20px auto 0;
		text-align:center;
	}
	.l-recruitBlock03 table tr th{
		width: 180px;
		text-align:center;
		color:#FFFFFF;
		font-size:18px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-recruitBlock03 table tr th:first-of-type{
		background-color:#f5b08f;
	}
	.l-recruitBlock03 table tr th:last-of-type{
		width: calc(100% - 180px);
		background-color:#ee858c;
	}
	.l-recruitBlock03 table tr td{
		text-align:center;
		color:#646464;
		font-size:18px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-recruitBlock03 table tr td:last-of-type{
		text-align:left;
	}
	.l-recruitBlock03 table tr.row01 td{
		background-color:#FFFFFF;
	}
	.l-recruitBlock03 table tr.row02 td{
		background-color:#fff9e9;
	}
	
	.l-recruitBlock04{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:40px 0px 50px;
		background-color:#fef4ad;
	}
	.l-recruit04{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit04 .p-title{
		width:100%;
		margin:0 auto 30px;
		text-align:center;
		padding:15px 0;
		border:4px solid #ee858c;
		color:#646464;
		font-size:22px;
		font-weight:bold;
	}
	.l-recruit04 .p-title img{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-recruit04 .p-title2{
		color:#646464;
		line-height:2;
		font-size:22px;
		text-align:center;
		padding-top:30px;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-recruitBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-recruit01{
		max-width:1600px;
		width:100%;
		margin:50px auto 0;
		text-align:center;
		padding:35px 0px 30px;
	}
	.l-recruit01 img{
		max-width:162px;
		width:100%;
	}
	
	.l-recruitBlock02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:20px 0px 25px;
		background-color:#fff4d4;
	}
	.l-recruit02{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit02 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:7px 0;
		border:4px solid #ee858c;
		color:#646464;
		font-size:20px;
		font-weight:bold;
	}
	.l-recruit02 .p-title img{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-recruit02 .p-title2{
		color:#646464;
		line-height:2;
		font-size:18px;
		text-align:center;
		padding-top:20px;
	}
	
	.l-recruitBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:20px 0px 25px;
		background-color:#fdeae4;
	}
	.l-recruit03{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit03 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:7px 0;
		border:4px solid #ee858c;
		color:#646464;
		font-size:20px;
		font-weight:bold;
	}
	.l-recruit03 .l-table div:last-child p{
		padding: 0px 0px 20px;
	}
	.ChangeElem_Btn_Content{
		width:100%;
		margin:30px auto 0;
	}
	.ChangeElem_Btn_Content .ChangeElem_Btn{
		padding:10px 0;
		font-size:14px;
	}
	.l-recruitBlock03 table{
		width: 100%;
		margin:20px auto 0;
		text-align:center;
	}
	.l-recruitBlock03 table tr th{
		width: 100px;
		text-align:center;
		color:#FFFFFF;
		font-size:14px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-recruitBlock03 table tr th:first-of-type{
		background-color:#f5b08f;
	}
	.l-recruitBlock03 table tr th:last-of-type{
		width: calc(100% - 100px);
		background-color:#ee858c;
	}
	.l-recruitBlock03 table tr td{
		text-align:center;
		color:#646464;
		font-size:14px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-recruitBlock03 table tr td:last-of-type{
		text-align:left;
	}
	.l-recruitBlock03 table tr.row01 td{
		background-color:#FFFFFF;
	}
	.l-recruitBlock03 table tr.row02 td{
		background-color:#fff9e9;
	}
	
	.l-recruitBlock04{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:20px 0px 25px;
		background-color:#fef4ad;
	}
	.l-recruit04{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-recruit04 .p-title{
		width:100%;
		margin:0 auto 30px;
		text-align:center;
		padding:7px 0;
		border:4px solid #ee858c;
		color:#646464;
		font-size:20px;
		font-weight:bold;
	}
	.l-recruit04 .p-title img{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-recruit04 .p-title2{
		color:#646464;
		line-height:2;
		font-size:18px;
		text-align:center;
		padding-top:20px;
	}
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/