@charset "utf-8";
/* CSS Document */

.l-mvBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-mv{
	width: 100%;
	/*margin:84px auto 0;*/
	margin:0 auto 0;
	text-align:center;
	padding:0px;
	background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
	background-size:cover;	
	height:1001px;
}
.l-mv div{
	
}
.l-mv div img{
	
}

.l-peoplesBlock01{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
	
	background:url(../../images/peoples/04/bg_peoples01_pc.jpg) center top no-repeat;
	background-size:cover;
}
.l-peoples01{
	max-width:1600px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:40px 0px 60px;
}
.l-peoples01 p{
	line-height:0;
}
.l-peoples01 p.p-title{
	position:relative;
	z-index:1;
}
.l-peoples01 p.p-title2{
	display:none;
}
.l-peoples01 p.p-title img{
	max-width:463px;
	width:100%;
}
.l-peoples01 p.p-image{
	margin-top:0px;
	position:relative;
	z-index:0;
}
.l-peoples01 p.p-image img{
	max-width:1600px;
	width:100%;
}
.l-peoples01 p.p-message{
	display:none;
}

.l-peoplesBlock02{
	width:100%;
	padding:0 10px;
}

.l-peoplesBlock02 .l-peoplesBlock02-01{
	max-width:1620px;
	width:100%;
	margin:258px auto 0;
	text-align:center;
	padding:0;
	background:url(../../images/peoples/04/img_peoples02_1_pc.jpg) left top no-repeat;
	background-size:contain;
	height:875px;
	position:relative;
}
.l-peoplesBlock02 .l-peoplesBlock02-01 .p-image{
	display:none;
	line-height:0;
}
.l-peoplesBlock02 .l-peoplesBlock02-01 p{
	width:50%;
	color:#636363;
	line-height:2;
	text-align:left;
	font-size:30px;
	position:absolute;
	right:0;
	top:-180px;
}

.l-peoplesBlock02 .l-peoplesBlock02-02{
	max-width:1620px;
	width:100%;
	margin:258px auto 0;
	text-align:center;
	padding:0;
	background:url(../../images/peoples/04/img_peoples02_2_pc.jpg) left top no-repeat;
	background-size:contain;
	position:relative;
	
	height:1300px;
}
.l-peoplesBlock02 .l-peoplesBlock02-02 > div{
	width:40%;
	text-align:left;
	position:absolute;
	left:0;
	top:-140px;
}
.l-peoplesBlock02 .l-peoplesBlock02-02 > div p{
	color:#636363;
	line-height:2;
	font-size:30px;
}
.l-peoplesBlock02 .l-peoplesBlock02-02 > div .p-image01{
	width:85%;
	position:absolute;
	margin-top:250px;
	margin-left:-80px;
	line-height:0;
}
.l-peoplesBlock02 .l-peoplesBlock02-02 > .p-image02{
	display:none;
}
.l-peoplesBlock02 .l-peoplesBlock02-02 > div .p-image01 img{
	max-width:668px;
	width:100%;
}

.l-peoplesBlock02 .l-peoplesBlock02-04{
	max-width:1620px;
	width:100%;
	margin:140px auto 0;
	text-align:center;
	padding:0;
	background:url(../../images/peoples/04/img_peoples02_4_pc.jpg) left top no-repeat;
	background-size:contain;
	height:1085px;
	position:relative;
}
.l-peoplesBlock02 .l-peoplesBlock02-04 .p-image{
	display:none;
	line-height:0;
}
.l-peoplesBlock02 .l-peoplesBlock02-04 .p-image2{
	display:none;
	line-height:0;
}
.l-peoplesBlock02 .l-peoplesBlock02-04 p{
	width:38%;
	color:#636363;
	line-height:2;
	text-align:left;
	font-size:30px;
	position:absolute;
	left:0;
	top:270px;
}

.l-peoplesBlock03{
	width: 100%;
	margin:20px auto 0;
	text-align:center;
	padding:0;
}
.l-peoplesBlock03 .l-peoplesBlock03-table{
	max-width:1600px;
	width:100%;
	margin:0 auto;
	text-align:left;
	padding:0px 0px 0px;
	display:block;
}
.l-peoplesBlock03 .l-peoplesBlock03-table p{
	display:inline-block;
	line-height:0;
	width:20%;
}
.l-peoplesBlock03 .l-peoplesBlock03-table p a{
	display:inline-block;
}
.l-peoplesBlock03 .l-peoplesBlock03-table p a img{
	max-width:400px;
	width:100%;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-peoplesBlock01{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
		
		background:url(../../images/peoples/04/bg_peoples01_pc.jpg) center top no-repeat;
		background-size:cover;
	}
	.l-peoples01{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:45px 0px 40px;
	}
	.l-peoples01 p.p-title{
		position:relative;
		z-index:1;
	}
	.l-peoples01 p.p-title img{
		max-width:324px;
		width:100%;
	}
	.l-peoples01 p.p-image{
		margin-top:0px;
		position:relative;
		z-index:0;
	}
	.l-peoples01 p.p-image img{
		max-width:1600px;
		width:100%;
	}
	
	.l-peoplesBlock02{
		width:100%;
		padding:0 10px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01{
		max-width:1620px;
		width:100%;
		margin:180px auto 0;
		text-align:center;
		padding:0;
		background:url(../../images/peoples/04/img_peoples02_1_pc.jpg) left top no-repeat;
		background-size:contain;
		padding-top:57.8%;
		height:auto;
		position:relative;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01 p{
		width:50%;
		color:#636363;
		line-height:2;
		text-align:left;
		font-size:24px;
		position:absolute;
		right:0;
		top:-90px;
	}
	
	.l-peoplesBlock02 .l-peoplesBlock02-02{
		max-width:1620px;
		width:100%;
		margin:220px auto 0;
		text-align:center;
		padding:0;
		background:url(../../images/peoples/04/img_peoples02_2_pc.jpg) left top no-repeat;
		background-size:contain;
		padding-top:71.8%;
		position:relative;
	
		height:auto;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div{
		width:42%;
		text-align:left;
		position:absolute;
		left:0;
		top:-90px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div p{
		color:#636363;
		line-height:2;
		font-size:24px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div .p-image01{
		width:85%;
		position:absolute;
		margin-top:10%;
		margin-left:0px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div .p-image01 img{
		max-width:467px;
		/*max-width:300px;*/
		width:75%;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 .p-image02{
		display:none;
	}
	
	.l-peoplesBlock02 .l-peoplesBlock02-04{
		max-width:1620px;
		width:100%;
		margin:180px auto 0;
		text-align:center;
		padding:0;
		background:url(../../images/peoples/04/img_peoples02_4_pc.jpg) left top no-repeat;
		background-size:contain;
		padding-top:78%;
		height:1248px;
		position:relative;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-04 p{
		width:39%;
		color:#636363;
		line-height:2;
		text-align:left;
		font-size:24px;
		position:absolute;
		right:0;
		top:-90px;
	}
	
	.l-peoplesBlock03{
		width: 100%;
		margin:20px auto 0;
		text-align:center;
		padding:0 0px;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:left;
		padding:0px 0px 0px;
		display:block;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p{
		display:inline-block;
		line-height:0;
		width:20%;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p a{
		display:inline-block;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p a img{
		max-width:400px;
		width:100%;
	}
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:80px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-peoplesBlock01{
		width: 100%;
		margin:127px auto 0;
		text-align:center;
		padding:0;
		
		background:url(../../images/peoples/04/bg_peoples01_pc.jpg) center top no-repeat;
		background-size:cover;
	}
	.l-peoples01{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:45px 0px 40px;
	}
	.l-peoples01 p.p-title{
		position:relative;
		z-index:1;
	}
	.l-peoples01 p.p-title img{
		max-width:324px;
		width:100%;
	}
	.l-peoples01 p.p-image{
		margin-top:0px;
		position:relative;
		z-index:0;
	}
	.l-peoples01 p.p-image img{
		max-width:1600px;
		width:100%;
	}
	
	.l-peoplesBlock02{
		width:100%;
		padding:0 10px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01{
		max-width:1620px;
		width:100%;
		margin:50px auto 0;
		text-align:center;
		padding:0;
		background:none;
		padding-top:0;
		position:static;
		height:auto;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01 .p-image{
		display:block;
		text-align: right;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01 .p-image img{
		max-width:1400px;
		width:60%;
		padding-right:10%;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01 p{
		width:100%;
		color:#636363;
		line-height:2;
		text-align:left;
		font-size:24px;
		position:static;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01 p.p-message{
		padding-left:5%;
		padding-right:5%;
		margin-top:-5%;
	}
	
	.l-peoplesBlock02 .l-peoplesBlock02-02{
		max-width:1620px;
		width:100%;
		margin:80px auto 0;
		text-align:center;
		padding:0;
		background:none;
		/*padding-top:71.8%;*/
		position:relative;
		height:auto;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div{
		width:100%;
		text-align:left;
		position:static;
		left:0;
		top:-90px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div p{
		color:#636363;
		line-height:2;
		font-size:24px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 p.p-message{
		padding-right:10%;
		margin-top:-5%;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div .p-image01{
		display:none;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 .p-image02{
		display:block;
		text-align:right;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 .p-image02 img{		
		max-width:1000px;
		width:53%;
		padding-right:3%;
	}
	
	.l-peoplesBlock02 .l-peoplesBlock02-04{
		max-width:1620px;
		width:100%;
		margin:50px auto 10%;
		text-align:center;
		padding:0;
		background:none;
		padding-top:0;
		position:static;
		height:auto;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-04 .p-image{
		display:block;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-04 .p-image img{
		max-width:1000px;
		width:50%;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-04 .p-image2{
		display:block;
		text-align:center;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-04 .p-image2 img{
		max-width:1000px;
		width:80%;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-04 p{
		width:100%;
		color:#636363;
		line-height:2;
		text-align:left;
		font-size:24px;
		position:static;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-04 p.p-message{
		margin:5% 0;
	}
	
	.l-peoplesBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0px;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:left;
		padding:0px 0px 0px;
		display:block;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p{
		display:inline-block;
		line-height:0;
		width:20%;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p a{
		display:inline-block;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p a img{
		max-width:400px;
		width:100%;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-peoplesBlock01{
		width: 100%;
		margin:100px auto 0;
		text-align:center;
		padding:0;
		
		background:url(../../images/peoples/04/bg_peoples01_pc.jpg) center top no-repeat;
		background-size:cover;
	}
	.l-peoples01{
		max-width:1600px;
		width:100%;
		margin:70px auto 0;
		text-align:center;
		padding:35px 0px 30px;
	}
	.l-peoples01 p.p-title{
		position:relative;
		z-index:1;
	}
	.l-peoples01 p.p-title img{
		max-width:227px;
		width:100%;
	}
	.l-peoples01 p.p-image{
		margin-top:-20px;
		position:relative;
		z-index:0;
	}
	.l-peoples01 p.p-image img{
		max-width:1600px;
		width:100%;
	}
	
	.l-peoplesBlock02{
		width:100%;
		padding:0 10px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01{
		max-width:1620px;
		width:100%;
		margin:50px auto 0;
		text-align:center;
		padding:0;
		background:none;
		padding-top:0;
		position:static;
		height:auto;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01 .p-image{
		display:block;
		text-align: right;
	}
	/*.l-peoplesBlock02 .l-peoplesBlock02-01 .p-image img{
		max-width:768px;
		width:53%;
		padding-right:3%;
	}*/
	.l-peoplesBlock02 .l-peoplesBlock02-01 p{
		width:100%;
		color:#636363;
		line-height:2;
		text-align:left;
		font-size:18px;
		position:static;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01 p.p-message {
		margin-top: -8%;
	}
	
	.l-peoplesBlock02 .l-peoplesBlock02-02{
		max-width:1620px;
		width:100%;
		margin:50px auto 0;
		text-align:center;
		padding:0;
		background:none;
		/*padding-top:71.8%;*/
		position:relative;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div{
		width:100%;
		text-align:left;
		position:static;
		left:0;
		top:-90px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div p{
		color:#636363;
		line-height:2;
		font-size:18px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 p.p-message {
		margin-top: -8%;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div .p-image01{
		display:none;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 .p-image02{
		display:block;
	}
	/*.l-peoplesBlock02 .l-peoplesBlock02-02 .p-image02 img{
		max-width:1400px;
		width:100%;
	}*/
	
	.l-peoplesBlock02 .l-peoplesBlock02-04{
		max-width:1620px;
		width:100%;
		margin:50px auto 10%;
		text-align:center;
		padding:0;
		background:none;
		padding-top:0;
		position:static;
		height:auto;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-04 .p-image{
		display:block;
	}
	/*.l-peoplesBlock02 .l-peoplesBlock02-04 .p-image img{
		max-width:768px;
		width:100%;
	}*/
	.l-peoplesBlock02 .l-peoplesBlock02-04 p{
		width:100%;
		color:#636363;
		line-height:2;
		text-align:left;
		font-size:18px;
		position:static;
	}
	
	.l-peoplesBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0px;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:left;
		padding:0px 0px 0px;
		display:block;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p{
		display:inline-block;
		line-height:0;
		width:33.3%;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p a{
		display:inline-block;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p a img{
		max-width:400px;
		width:100%;
	}
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-peoplesBlock01{
		width: 100%;
		margin:71px auto 0;
		text-align:center;
		padding:0;
		
		background:url(../../images/peoples/04/bg_peoples01_pc.jpg) center top no-repeat;
		background-size:cover;
	}
	.l-peoples01{
		max-width:1600px;
		width:100%;
		margin:50px auto 0;
		text-align:center;
		padding:35px 10px 30px;
	}
	.l-peoples01 p.p-title{
		position:relative;
		z-index:1;
	}
	.l-peoples01 p.p-title img{
		max-width:162px;
		width:100%;
	}
	.l-peoples01 p.p-title2{
		display:block;
		padding-top:15px;
		padding-bottom:10px;
	}
	.l-peoples01 p.p-title2 img{
		max-width:480px;
		width:100%;
	}
	.l-peoples01 p.p-image{
		margin-top:0px;
		position:relative;
		z-index:0;
	}
	.l-peoples01 p.p-image img{
		max-width:1600px;
		width:100%;
	}
	.l-peoples01 p.p-message{
		display:block;
	}
	.l-peoples01 p.p-message img{
		max-width:480px;
		width:100%;
	}
	
	.l-peoplesBlock02{
		width:100%;
		padding:0 10px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01{
		max-width:1620px;
		width:100%;
		margin:30px auto 0;
		text-align:center;
		padding:0;
		background:none;
		padding-top:0;
		position:static;
		height:auto;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01 .p-image{
		display:block;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01 .p-image img{
		max-width: 768px;
		width: 80%;
		padding-right: 10%;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01 p{
		width:100%;
		color:#636363;
		line-height:2;
		text-align:left;
		font-size:14px;
		position:static;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-01 p.p-message {
		padding-left: 0%;
		padding-right: 0%;
		margin-top: -8%;
	}
	
	.l-peoplesBlock02 .l-peoplesBlock02-02{
		max-width:1620px;
		width:100%;
		margin:30px auto 0;
		text-align:center;
		padding:0;
		background:none;
		/*padding-top:71.8%;*/
		position:relative;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div{
		width:100%;
		text-align:left;
		position:static;
		left:0;
		top:-90px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div p{
		color:#636363;
		line-height:2;
		font-size:14px;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 p.p-message {
		padding:0;
		margin-top: -8%;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 > div .p-image01{
		display:none;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 .p-image02{
		display:block;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-02 .p-image02 img{
		max-width:1400px;
		width: 73%;
		padding-right: 3%;
	}
	
	.l-peoplesBlock02 .l-peoplesBlock02-04{
		max-width:1620px;
		width:100%;
		margin:30px auto 10%;
		text-align:center;
		padding:0;
		background:none;
		padding-top:0;
		position:static;
		height:auto;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-04 .p-image{
		display:block;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-04 .p-image img{
		max-width:480px;
		width:70%;
	}
	.l-peoplesBlock02 .l-peoplesBlock02-04 p{
		width:100%;
		color:#636363;
		line-height:2;
		text-align:left;
		font-size:14px;
		position:static;
	}
	
	.l-peoplesBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0 0px;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:left;
		padding:0px 0px 0px;
		display:block;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p{
		display:inline-block;
		line-height:0;
		width:50%;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p a{
		display:inline-block;
	}
	.l-peoplesBlock03 .l-peoplesBlock03-table p a img{
		max-width:400px;
		width:100%;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/