@charset "utf-8";
/* CSS Document */

.l-mvBlock{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-mv{
	width: 100%;
	/*margin:84px auto 0;*/
	margin:0 auto 0;
	text-align:center;
	padding:0px;
	background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
	background-size:cover;	
	height:1001px;
}
.l-mv div{
	
}
.l-mv div img{
	
}

.l-careerBlock01{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:30px 0px 30px;
}
.l-career01{
	max-width:2000px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0;
	display:table;
}
.l-career01 > div{
	display:table-cell;
	vertical-align:top;
}
.l-career01 .p-left{
	max-width:416px;
	width:21%;
}
.l-career01 .p-left img{
	max-width:416px;
	width:100%;
}
.l-career01 .p-right{
	max-width:416px;
	width:21%;
}
.l-career01 .p-right img{
	max-width:416px;
	width:100%;
}
.l-career01 .p-center{
	width:auto;
	padding:0 100px;
}
.l-career01 .p-center .p-title{
	line-height:0;
	padding-top:50px;
}
.l-career01 .p-center .p-title img{
	max-width:463px;
	width:100%;
}
.l-career01 .p-center .p-title2{
	line-height:0;
	/*padding-top:150px;*/
	padding-top:15%;
}
.l-career01 .p-center .p-title2 img{
	max-width:869px;
	width:100%;
}
.l-career01 .p-center .p-message{
	line-height:0;
}
.l-career01 .p-center .p-message img{
	max-width:869px;
	width:100%;
}

.l-careerBlock03{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:80px 0px 100px;
	background-color:#fff4d4;
}
.l-career03{
	max-width:1030px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0 10px;
}
.l-career03 .p-title img{
	max-width:1021px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-career03 .p-title2{
	color:#646464;
	line-height:2;
	font-size:36px;
	text-align:center;
	padding:60px 10px 0;
}
.l-career03 .p-message{
	color:#646464;
	line-height:2;
	font-size:30px;
	text-align:left;
	padding:60px 0px 0;
}

.l-careerBlock04{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:80px 0px 250px;
	background-color:#fdeae4;
}
.l-career04{
	max-width:1420px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-career04 .p-title img{
	max-width:1021px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-careerBlock04 table{
	width: 100%;
	margin:80px auto 0;
	text-align:center;
	table-layout:auto;
}
.l-careerBlock04 table tbody{
	width: 100%;
}
.l-careerBlock04 table tbody tr{
	width: 100%;
}
.l-careerBlock04 table tr th{
	width: 250px;
	text-align:center;
	color:#FFFFFF;
	font-size:26px;
	border:2px solid #ee858c;
	padding:15px;
	font-weight:bold;
}
.l-careerBlock04 table tr th:first-of-type{
	background-color:#f5b08f;
}
.l-careerBlock04 table tr th:last-of-type{
	background-color:#ee858c;
	width: calc(100% - 250px);
}
.l-careerBlock04 table tr td{
	text-align:center;
	color:#646464;
	font-size:26px;
	border:2px solid #ee858c;
	padding:15px;
}
.l-careerBlock04 table tr td:last-of-type{
	text-align:left;
}
.l-careerBlock04 table tr.row01 td{
	background-color:#FFFFFF;
}
.l-careerBlock04 table tr.row02 td{
	background-color:#fff9e9;
}



/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:0px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-career01 .p-center{
		width:auto;
		padding:0 65px;
		padding:0 4.5%;
	}
	.l-career01 .p-center .p-title img{
		max-width:463px;
		width:100%;
	}
	.l-career01 .p-center .p-title2 img{
		max-width:869px;
		width:100%;
	}
	.l-career01 .p-center .p-message img{
		max-width:869px;
		width:100%;
	}
	
	.l-careerBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:56px 0px 70px;
		background-color:#fff4d4;
	}
	.l-career03{
		max-width:1030px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-career03 .p-title img{
		max-width:1021px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-career03 .p-title2{
		color:#646464;
		line-height:2;
		font-size:30px;
		text-align:center;
		padding-top:42px;
	}
	.l-career03 .p-message{
		color:#646464;
		line-height:2;
		font-size:24px;
		text-align:left;
		padding-top:42px;
	}
	
	.l-careerBlock04{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:56px 0px 175px;
		background-color:#fdeae4;
	}
	.l-career04{
		max-width:1600px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-career04 .p-title img{
		max-width:1021px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}	
	.l-careerBlock04 table{
		width: 100%;
		margin:56px auto 0;
		text-align:center;
	}
	.l-careerBlock04 table tr th{
		width: 250px;
		text-align:center;
		color:#FFFFFF;
		font-size:24px;
		border:2px solid #ee858c;
		padding:15px;
	}
	.l-careerBlock04 table tr th:first-of-type{
		background-color:#f5b08f;
	}
	.l-careerBlock04 table tr th:last-of-type{
		width: calc(100% - 250px);
		background-color:#ee858c;
	}
	.l-careerBlock04 table tr td{
		text-align:center;
		color:#646464;
		font-size:24px;
		border:2px solid #ee858c;
		padding:15px;
	}
	.l-careerBlock04 table tr td:last-of-type{
		text-align:left;
	}
	.l-careerBlock04 table tr.row01 td{
		background-color:#FFFFFF;
	}
	.l-careerBlock04 table tr.row02 td{
		background-color:#fff9e9;
	}
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:80px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-careerBlock01 {
		width: 100%;
		margin: 80px auto 0;
		text-align: center;
		padding: 20px 0px 20px;
	}
	.l-career01 .p-center .p-title img{
		max-width:324px;
		width:100%;
	}
	.l-career01 .p-center .p-title2 img{
		max-width:608px;
		width:100%;
	}
	.l-career01 .p-center .p-message img{
		max-width:608px;
		width:100%;
	}
	
	.l-careerBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:56px 0px 70px;
		background-color:#fff4d4;
	}
	.l-career03{
		max-width:1030px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-career03 .p-title img{
		max-width:1021px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-career03 .p-title2{
		color:#646464;
		line-height:2;
		font-size:30px;
		text-align:center;
		padding-top:42px;
	}
	.l-career03 .p-message{
		color:#646464;
		line-height:2;
		font-size:24px;
		text-align:left;
		padding-top:42px;
	}
	
	.l-careerBlock04{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:56px 0px 175px;
		background-color:#fdeae4;
	}
	.l-career04{
		max-width:1030px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-career04 .p-title img{
		max-width:1021px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-careerBlock04 table{
		width: 100%;
		margin:40px auto 0;
		text-align:center;
	}
	.l-careerBlock04 table tr th{
		width: 200px;
		text-align:center;
		color:#FFFFFF;
		font-size:20px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-careerBlock04 table tr th:first-of-type{
		background-color:#f5b08f;
	}
	.l-careerBlock04 table tr th:last-of-type{
		width: calc(100% - 200px);
		background-color:#ee858c;
	}
	.l-careerBlock04 table tr td{
		text-align:center;
		color:#646464;
		font-size:20px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-careerBlock04 table tr td:last-of-type{
		text-align:left;
	}
	.l-careerBlock04 table tr.row01 td{
		background-color:#FFFFFF;
	}
	.l-careerBlock04 table tr.row02 td{
		background-color:#fff9e9;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:70px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-careerBlock01 {
		width: 100%;
		margin: 100px auto 0;
		text-align: center;
		padding: 10px 0px 10px;
	}
	.l-career01 {
		max-width: 2000px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding: 0;
		display: block;
	}
	.l-career01 .p-left {
		max-width: 768px;
		width: 100%;
		display:block;
	}
	.l-career01 .p-left img{
		max-width: 768px;
		width: 100%;
	}
	.l-career01 .p-right {
		max-width: 768px;
		width: 100%;
		display:block;
	}
	.l-career01 .p-right img{
		max-width: 768px;
		width: 100%;
	}
	.l-career01 .p-center {
		width: 100%;
		display:block;
		padding: 0 10px;
	}
	.l-career01 .p-center .p-title{
		line-height: 0;
    	padding-top: 10%;
	}
	.l-career01 .p-center .p-title img{
		max-width:227px;
		width:100%;
	}
	.l-career01 .p-center .p-title2 {
		line-height: 0;
		/* padding-top: 150px; */
		padding-top: 10%;
	}
	.l-career01 .p-center .p-title2 img{
		max-width:480px;
		width:100%;
	}
	.l-career01 .p-center .p-message{
		padding: 0% 0 10%;
		margin-top:-3%;
	}
	.l-career01 .p-center .p-message img{
		max-width:768px;
		width:100%;
	}
	
	
	
	
	
	/*.l-careerBlock01 {
		width: 100%;
		margin: 70px auto 0;
		text-align: center;
		padding: 15px 0px 15px;
	}
	.l-career01 .p-center .p-title {
		line-height: 0;
		padding-top: 20px;
	}
	.l-career01 .p-center .p-title img{
		max-width:227px;
		width:100%;
	}
	.l-career01 .p-center .p-title2 img{
		max-width:425px;
		width:100%;
	}
	.l-career01 .p-center .p-message img{
		max-width:425px;
		width:100%;
	}*/
	
	.l-careerBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:40px 0px 50px;
		background-color:#fff4d4;
	}
	.l-career03{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-career03 .p-title img{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-career03 .p-title2{
		color:#646464;
		line-height:2;
		font-size:22px;
		text-align:center;
		padding-top:30px;
	}
	.l-career03 .p-message{
		color:#646464;
		line-height:2;
		font-size:18px;
		text-align:left;
		padding-top:30px;
	}
	
	.l-careerBlock04{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:40px 0px 125px;
		background-color:#fdeae4;
	}
	.l-career04{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-career04 .p-title img{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-careerBlock04 table{
		width: 100%;
		margin:30px auto 0;
		text-align:center;
	}
	.l-careerBlock04 table tr th{
		width: 180px;
		text-align:center;
		color:#FFFFFF;
		font-size:18px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-careerBlock04 table tr th:first-of-type{
		background-color:#f5b08f;
	}
	.l-careerBlock04 table tr th:last-of-type{
		width: calc(100% - 180px);
		background-color:#ee858c;
	}
	.l-careerBlock04 table tr td{
		text-align:center;
		color:#646464;
		font-size:18px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-careerBlock04 table tr td:last-of-type{
		text-align:left;
	}
	.l-careerBlock04 table tr.row01 td{
		background-color:#FFFFFF;
	}
	.l-careerBlock04 table tr.row02 td{
		background-color:#fff9e9;
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
		
	.l-mvBlock{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-mv{
		width: 100%;
		margin:50px auto 0;
		text-align:center;
		padding:0px;
		background:url(../../images/top/bg_mv_pc.jpg) center top no-repeat;
		background-size:cover;	
		/*height:500px;*/
		height:auto;
		padding-top:50%;
	}
	.l-mv div{
		
	}
	.l-mv div img{
		
	}
	
	.l-careerBlock01 {
		width: 100%;
		margin: 50px auto 0;
		text-align: center;
		padding: 10px 0px 10px;
	}
	.l-career01 {
		max-width: 2000px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding: 0;
		display: block;
	}
	.l-career01 .p-left {
		max-width: 480px;
		width: 100%;
		display:block;
	}
	.l-career01 .p-left img{
		max-width: 480px;
		width: 100%;
	}
	.l-career01 .p-right {
		max-width: 480px;
		width: 100%;
		display:block;
	}
	.l-career01 .p-right img{
		max-width: 480px;
		width: 100%;
	}
	.l-career01 .p-center {
		width: 100%;
		display:block;
		padding: 0 10px;
	}
	.l-career01 .p-center .p-title{
		line-height: 0;
    	padding-top: 10%;
	}
	.l-career01 .p-center .p-title img{
		max-width:162px;
		width:100%;
	}
	.l-career01 .p-center .p-title2 {
		line-height: 0;
		/* padding-top: 150px; */
		padding-top: 10%;
	}
	.l-career01 .p-center .p-title2 img{
		max-width:275px;
		width:100%;
	}
	.l-career01 .p-center .p-message{
		padding: 10% 0;
	}
	.l-career01 .p-center .p-message img{
		max-width:480px;
		width:100%;
	}
	
	.l-careerBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:20px 0px 25px;
		background-color:#fff4d4;
	}
	.l-career03{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-career03 .p-title img{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-career03 .p-title2{
		color:#646464;
		line-height:2;
		font-size:18px;
		text-align:center;
		padding-top:20px;
	}
	.l-career03 .p-message{
		color:#646464;
		line-height:2;
		font-size:14px;
		text-align:left;
		padding-top:20px;
	}
	
	.l-careerBlock04{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:20px 0px 80px;
		background-color:#fdeae4;
	}
	.l-career04{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0 10px;
	}
	.l-career04 .p-title img{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-careerBlock04 table{
		width: 100%;
		margin:20px auto 0;
		text-align:center;
	}
	.l-careerBlock04 table tr th{
		width: 100px;
		text-align:center;
		color:#FFFFFF;
		font-size:14px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-careerBlock04 table tr th:first-of-type{
		background-color:#f5b08f;
	}
	.l-careerBlock04 table tr th:last-of-type{
		width: calc(100% - 100px);
		background-color:#ee858c;
	}
	.l-careerBlock04 table tr td{
		text-align:center;
		color:#646464;
		font-size:14px;
		border:2px solid #ee858c;
		padding:10px;
	}
	.l-careerBlock04 table tr td:last-of-type{
		text-align:left;
	}
	.l-careerBlock04 table tr.row01 td{
		background-color:#FFFFFF;
	}
	.l-careerBlock04 table tr.row02 td{
		background-color:#fff9e9;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/