@charset "utf-8";
/* CSS Document */

.l-ceoBlock01{
	width: 100%;
	margin:25px auto 0;
	text-align:center;
	padding:0;
}
@media screen and (min-width:2001px){
	.l-ceo01{
		max-width:2000px;
		width:100%;
		margin:0 auto 160px;
		text-align:center;
		background:url(../../images/ceo/bg_ceo01_pc.jpg) center top no-repeat;
		background-size:cover;
		height:1000px;	
		position:relative;
	}
}
@media screen and (max-width:2000px){
	.l-ceo01{
		max-width:2000px;
		width:100%;
		margin:0 auto 160px;
		text-align:center;
		background:url(../../images/ceo/bg_ceo01_pc.jpg) center top no-repeat;
		background-size:cover;
		height:auto;
		padding-top:50%;	
		position:relative;
	}	
}
.l-ceo01 p{
	line-height:0;
}
.l-ceo01 p.p-ceo01_title{
	position:absolute;
	left: 0;
	right: 0;
	margin: auto;
	top:230px;
	top:25%;
}
.l-ceo01 p.p-ceo01_title img{
	max-width:463px;
	width:100%;
}
.l-ceo01 p.p-ceo01_message{
	position:absolute;
	left: 0;
	right: 0;
	margin: auto;
	top:445px;
	top:48%;
}
.l-ceo01 p.p-ceo01_message img{
	max-width:1241px;
	width:100%;
}

.l-ceoBlock02{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-ceo02{
	max-width:2000px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0 0;
	line-height:0;
}
.l-ceo02 img{
	max-width:2000px;
	width:100%;
}

.l-ceoBlock03{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-ceo03{
	max-width:860px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:80px 0 70px;
}
.l-ceo03 p{
	color:#636363;
	line-height:2;
	font-size:30px;
	text-align:left;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1600px){
	
	.l-ceo01{
		max-width:2000px;
		width:100%;
		margin:0 auto 112px;
		text-align:center;
		background:url(../../images/ceo/bg_ceo01_pc.jpg) center top no-repeat;
		background-size:cover;
		height:auto;
		padding-top:50%;
		position:relative;
	}
	.l-ceo01 p{
		line-height:0;
	}
	.l-ceo01 p.p-ceo01_title{
		position:absolute;
		left: 0;
		right: 0;
		margin: auto;
		top:25%;
	}
	.l-ceo01 p.p-ceo01_title img{
		max-width:324px;
		width:100%;
	}
	.l-ceo01 p.p-ceo01_message{
		position:absolute;
		left: 0;
		right: 0;
		margin: auto;
		top:48%;
	}
	.l-ceo01 p.p-ceo01_message img{
		max-width:744px;
		width:100%;
	}
	
	.l-ceoBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-ceo03{
		max-width:860px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:50px 0 50px;
	}
	.l-ceo03 p{
		color:#636363;
		line-height:2;
		font-size:24px;
		text-align:left;
	}
	
}
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-ceoBlock01{
		width: 100%;
		margin:105px auto 0;
		text-align:center;
		padding:0;
	}
	
	.l-ceo01{
		max-width:2000px;
		width:100%;
		margin:0 auto 78px;
		text-align:center;
		background:url(../../images/ceo/bg_ceo01_pc.jpg) center top no-repeat;
		background-size:cover;
		height:auto;
		padding-top:50%;
		position:relative;
	}
	.l-ceo01 p{
		line-height:0;
	}
	.l-ceo01 p.p-ceo01_title{
		position:absolute;
		left: 0;
		right: 0;
		margin: auto;
		top:25%;
	}
	.l-ceo01 p.p-ceo01_title img{
		max-width:324px;
		width:100%;
	}
	.l-ceo01 p.p-ceo01_message{
		position:absolute;
		left: 0;
		right: 0;
		margin: auto;
		top:53%;
	}
	.l-ceo01 p.p-ceo01_message img{
		max-width:446px;
		width:100%;
	}
	
	.l-ceoBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-ceo03{
		max-width:860px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:50px 10px 50px;
	}
	.l-ceo03 p{
		color:#636363;
		line-height:2;
		font-size:24px;
		text-align:left;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
@media screen and (max-width:768px){
	
	.l-ceoBlock01{
		width: 100%;
		margin:95px auto 0;
		text-align:center;
		padding:0;
	}
	
	.l-ceo01{
		max-width:2000px;
		width:100%;
		margin:0 auto 35px;
		text-align:center;
		background:url(../../images/ceo/bg_ceo01_pc.jpg) center top no-repeat;
		background-size:cover;
		height:auto;
		padding-top:50%;
		position:relative;
	}
	.l-ceo01 p{
		line-height:0;
	}	
	.l-ceo01 p.p-ceo01_title{
		position:absolute;
		left: 0;
		right: 0;
		margin: auto;
		top:25%;
	}
	.l-ceo01 p.p-ceo01_title img{
		max-width:200px;
		width:100%;
	}
	.l-ceo01 p.p-ceo01_message{
		position:absolute;
		left: 0;
		right: 0;
		margin: auto;
		top:53%;
	}
	.l-ceo01 p.p-ceo01_message img{
		max-width:300px;
		width:100%;
	}
	
	.l-ceoBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-ceo03{
		max-width:768px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:35px 10px 35px;
	}
	.l-ceo03 p{
		color:#636363;
		line-height:2;
		font-size:18px;
		text-align:left;
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-ceoBlock01{
		width: 100%;
		margin:75px auto 0;
		text-align:center;
		padding:0;
	}
	
	.l-ceo01{
		max-width:2000px;
		width:100%;
		margin:0 auto 25px;
		text-align:center;
		background:url(../../images/ceo/bg_ceo01_pc.jpg) center top no-repeat;
		background-size:cover;
		height:auto;
		padding-top:50%;
		position:relative;
	}
	.l-ceo01 p{
		line-height:0;
	}		
	.l-ceo01 p.p-ceo01_title{
		position:absolute;
		left: 0;
		right: 0;
		margin: auto;
		top:25%;
	}
	.l-ceo01 p.p-ceo01_title img{
		max-width:122px;
		width:100%;
	}
	.l-ceo01 p.p-ceo01_message{
		position:absolute;
		left: 0;
		right: 0;
		margin: auto;
		top:55%;
	}
	.l-ceo01 p.p-ceo01_message img{
		max-width:180px;
		width:100%;
	}
	
	.l-ceoBlock03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-ceo03{
		max-width:480px;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:25px 10px 25px;
	}
	.l-ceo03.p-last{
		padding:25px 10px 0px;
	}
	.l-ceo03 p{
		color:#636363;
		line-height:2;
		font-size:14px;
		text-align:left;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/